.registerbutton  {
          border-radius: 10px!important;
          background: #0092cb !important;
          font-weight: 700 !important;
          color:#ffffff !important;
        }
.register-form {
	input{
		width:100%;
	}
}
