.registerbutton.registerbutton{
  border-radius: 10px;
  background: #0092cb;
  font-weight: 700;
  color: #fff;
}

.changeInstitutionBtn{
  margin-left: 5px;
}

.register-form{
  input{
    width:100%;
  }
}
