<div class="submit-resource-container">
    <h2>Submit a new resource</h2>
    <form class="form-container">
        <div class="row">
            <div class="header-container span-6">
                <h3>Some basic details</h3>
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <input type="text" placeholder="title">
            </div>
            <div class="annotation-container span-5 pull-left">
                the title or name of your resource
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <input type="text" placeholder="overview">
            </div>
            <div class="annotation-container span-5 pull-left">
                a short overview of what your resource is
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <textarea rows="4" placeholder="description"></textarea>
            </div>
            <div class="annotation-container span-5 pull-left">
                a brief paragraph about your resource, what the features are and how it can be of benefit to others
            </div>
        </div>
        <div class="row">
            <div class="header-container span-6">
                <h3>Preview</h3>
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <input type="text" placeholder="trial/demo URL">
            </div>
            <div class="annotation-container span-5 pull-left">
                the URL of a trial/demo the user can visit to try your resource out
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <input type="text" placeholder="video URL">
            </div>
            <div class="annotation-container span-5 pull-left">
                the URL of a youtube video about your resource
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <div class="drop-area">drag and drop up to 3 images here or&nbsp;<a>click to upload</a></div>
            </div>
            <div class="annotation-container span-5 pull-left">
                three images that preview the content in your resource<br/>
                <ul>
                    <li>640x480 jpeg</li>
                    <li>maximum size 300kb</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="header-container span-6">
                <h3>Tags</h3>
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <div class="tag-area">
                    <button class="btn" *ngFor="#tag of resourceTags | async" (click)="clicked(tag)">{{ tag.name }}</button>
                </div>
            </div>
            <div class="annotation-container span-5 pull-left">
                tags you want to associate your resource to selected from the TagCloud
            </div>
        </div>
        <div class="row">
            <div class="header-container span-6">
                <p>or choose from the TagCloud</p>
            </div>
        </div>
        <div class="row">
            <div class="tagcloud span-6">
                <tag-cloud (tagClicked)="tagClicked($event)"></tag-cloud>
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <div class="horizontal-center">
                    <button class="btn btn--3d btn--primary">continue</button>
                </div>
            </div>
        </div>
    </form>
</div>