.home-container {

	.resource-counter {
		text-align:right;
	
	}

	.notice-box {
		background: #e6e6e6;
    	border: 2px solid #d4d4d4;
    	color: #641144;
    	padding-left:20px;
    	padding-right:20px;
    	padding-bottom:5px;
	}
	.curation-div {
		text-align:right;
	}
	.curation-button {
		
	    width: 181px;
	    margin: 20px 0px 15px 0px;
	    height: 53px;
	    font-size: 1.5em;
	}
	.curation-button-text{
		padding-top: 5px;
    	margin-bottom: -3px;
    	font-weight:700;
	}
	.small-print{
		font-size:0.5em;
	}
}