<div class="static-container">
	<div class="col span-2">
        <div class="back-link"><button class="btn back" role="button" (click)="goBack()">Back</button>
        </div>
    </div>
    <div class="col span-6">
        <h2>About Jorum</h2>
        <h4>Jorum was the UK’s largest repository for discovering and sharing Open Educational Resources for higher and further education and the Skills sector.</h4>

        <p>With over 16,000 resources, it was often the first port of call for those who teach or have been inspired in the FE and HE and professional skills community to discover and share resources. Jorum formed part of the Learning, Teaching and Professional Skills team in Mimas, part of the Digital Resources division of Jisc. The word Jorum is of biblical origin and means a collecting (or drinking) bowl!</p>

        <p>After 13 years delivering and sharing content across HE, FE and skills, Jisc retired its Jorum service in September 2016. Read more on the <a href="https://jisc.ac.uk/news/jisc-to-retire-jorum-and-refresh-its-open-educational-resources-offer-24-jun-2015">Jisc website</a>. Plans were developed to ensure that quality content was preserved &amp; made available, here!</p>
    </div>   
</div>