<div class="app-widget">
    <a [routerLink]="['AppDetails', { id: app?.id }]">
        <div class="app-widget-container">
                    <div class="widget-image-inner">
                        <img src="{{ app?.image }}" width="128" height="128">
                    </div>
            <div>
            
                <div class="title-text">{{ (app?.title.length>17) ? (app?.title.substr(0, 14)+'...') : app?.title }}</div>
                <div class="rating">
                    <rating [rating]="app?.average_rating"></rating>
                </div>
            </div>
        </div>
    </a>
</div>