<div class="error-container">
    <div class="middle-box text-center animated fadeInDown">
        <div *ngIf="status!=404&&status!=500">
            <h1>?</h1>
            <h3 class="font-bold">Oops, something went wrong!</h3>

            <div class="error-desc">
              Please try again. If the problem persists, please contact support on <a href="mailto:support@jiscstore.freshdesk.com">support@jiscstore.freshdesk.com</a>
            </div>
        </div>
        <div *ngIf="status==404">
            <h1>404</h1>
            <h3 class="font-bold">Not Found</h3>

            <div class="error-desc">
                Sorry, we can't find that page. Try checking the URL for errors or <a [routerLink]="['\Home']">return to the homepage</a>.
            </div>
        </div>
        <div *ngIf="status==500">
            <h1>500</h1>
            <h3 class="font-bold">Internal Server Error</h3>

            <div class="error-desc">
                We are experiencing technical difficulties. Please contact support on <a href="mailto:support@jiscstore.freshdesk.com">support@jiscstore.freshdesk.com</a>
            </div>
        </div>
    </div>
</div>
