
.back-link {
  margin-bottom: 25px;

  button {
        border-radius: 0;
        background: #cfcfcf;
        font-weight: 700;
      }

}
.try-frame {
margin-top:20px;
  width:100%;
  height:500px;
}