<div class="col span-4 sign-in-container">
    <form class="form" [ngFormModel]="resetPasswordForm" (submit)="onSubmit(resetPasswordForm.value)" novalidate>
        <fieldset class="form__fieldset">
            <legend>
                <span class="legend-text"><h3>Reset password</h3></span>
            </legend>
            <div [class.shake]="shaking" [class.animated]="shaking" class="signin-form">
                <div class="has-error" *ngIf="password.value!=confirmPassword.value && password.touched && confirmPassword.touched">
                    <strong class="help-block">Passwords don't match</strong>
                </div>
                <label class="control-label hidden" for="password">Password</label>
                <input [disabled]="busy" placeholder="Password" type="password" [ngFormControl]="password" required>
                <label class="control-label hidden" for="confirmPassword">Confirm password</label>
                <input [disabled]="busy" placeholder="Confirm password" type="password" [ngFormControl]="confirmPassword" required>
            </div>
            <div class="pull-right">
                <button [disabled]="busy" class="btn--3d btn--primary btn--large" type="submit">Reset Password</button>
            </div>
        </fieldset>
    </form>
</div>
