<div class="container app-widgets">
    <div class="row">
        <div class="col-sm-10 col-sm-offet-1">
            <div class="container">
                <div class="row">
                    <app-widget></app-widget>
                    <app-widget></app-widget>
                    <app-widget></app-widget>
                    <app-widget></app-widget>
                    <app-widget></app-widget>
                    <app-widget></app-widget>
                </div>
            </div>
        </div>
    </div>
</div>