%activity-badge {
    text-transform: uppercase;
}
    
.contributor-container {
    .contributor-image {
        border: 9px solid #fff;
        border-radius: 15px;
        box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.19);
        width:148px;
        
        img {
            border-radius: 10px;
        }
    }
    
    .activity hr {
        margin-top: 42px;
    }
    
    .activity h2 {
        margin-top: 18px;
        margin-bottom: 32px;
    }
    
    .activity-table hr {
        margin: 6px;
    }    
    
    .activity-new-content-badge {
        @extend %activity-badge;
        background-color: #9cb525;
        color: white;
    }
    
    .badge-container {
        display: inline-block;
    }
    
    .comment-container {
        display: inline-block;
    }
    
    .ago-container {
        display: inline-block;
        text-align: right;
    }
}