<header class="masthead curation" role="banner">
  <div class="masthead__top">
    <div class="masthead__main curation__container">
      <div class="inner">
        <div class="col span-7">
          <h3 class="curation__header">Add your resources to the Store</h3>
          <p>Do you have free educational resources you want to share?</p>
        </div>
        <div class="col span-5 curation__cta">
          <button class="curation__cta__btn" (click)="goCuration()">
            <span class="curation__cta__text">Visit Curation</span>
            <span class="curation__cta__text--small">(opens in a new window)</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
