<div class="row col-11">
	<div class="search-box col-11">
		<form [ngFormModel]="searchForm" (submit)="onSubmitSearch(searchForm.value)">
			<input id="searchterm" name="searchterm" [ngFormControl]="searchterm" #input (input)="searchTermChanged(input.value)" (blur)="hideOptions()" [(ngModel)]="query" class="input--search" placeholder="Start typing to search" type="text">
	 	</form>
	 	<div class="suggestions" *ngIf="filteredList.length > 0">
	        <ul *ngFor="let item of filteredList" >
	            <span *ngIf="item"><a (click)="select(item)"><li>
	                <div style="background-image: url({{itemimage(item)}}); background-position: center top; background-repeat: no-repeat; background-size:cover"></div><div class="suggestions-text">{{item.title}} <span *ngIf="item.overview"> - {{item.overview}}</span></div>
	            </li></a></span>
	        </ul>
	    </div>
    </div>
    <!--<div class="advanced-search-link" [hidden] = "advancedSearchActive">
    	<a href="javascript:void(0);" (click)="toggleAdvancedSearch()">Refined search</a>
    </div>
	<div class="advanced-search-link" [hidden] = "!advancedSearchActive">
		<a href="javascript:void(0);" (click)="toggleAdvancedSearch()">Hide refined search</a>
	</div>
	<div class="advancedSearch" [hidden] = "!advancedSearchActive"><h4>Only include:</h4>
		<div class="col-3">
			<li><input id="freestuff" name="freestuff" type="checkbox" [ngFormControl]="freestuff"><label for="freestuff">Open Education resources</label></li>
			<li><input id="ratings" name="ratings" type="checkbox" [ngFormControl]="ratings"><label for="ratings">Resources with 4 stars or more</label></li>
			<li><input id="videos" name="videos" type="checkbox" [ngFormControl]="videos"><label for="videos">Resources with a video</label></li>
			<li><input id="contenttype" name="contenttype" type="checkbox"><label for="contenttype">Specific content type</label></li>
			<li><input id="licencetype" name="licencetype" type="checkbox"><label for="licencetype">Specific license</label></li>
		</div>
	</div>-->

</div>
