@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.input--search.input--search {
	font-size:1.4em;
  width:100%;
	padding: 8px;
}
.searchbox-container{
	display:inline-flex;
	margin-bottom: 0px;
}

.suggestions {
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.19);
	cursor:pointer;
	max-height:240px;
	overflow:auto;
	background:#fff;

	ul{
		margin-bottom: 0;
	}

	li {
		clear: both;
		overflow: hidden;

		a {
			display: block;
			overflow: hidden;
			color: #515151;

			&:hover{
				background-color: #f3f3f3;
				color: inherit;
			}

			&.selected{
				background-color: #deefde;
			}
		}
	}
}

.suggestions__image {
	float:left;
	height: 60px;
	width: 60px;

	@media screen and (max-width: $screen-xs-max) {
		display: none;
	}
}

.suggestions__type-icon{
	float: left;
	width: 60px;
	height: 60px;
	background-size: cover;
	border: 0;

	@media screen and (max-width: $screen-xs-max) {
		display: none;
	}
}

.suggestions-text {
	float: left;
	width: calc(100% - 60px);
	padding-top: 10px;
	padding-left: 10px;

	@media screen and (max-width: $screen-xs-max) {
		width: 100%;
		padding-bottom: 10px;
	}
}

.suggestions-text__title{
	font-size: 20px;
}

.suggestions-text__desc{
	display: block;
	font-size: 14px;

	@media screen and (max-width: $screen-sm-max) {
		display: none;
	}
}

.search-box{
	padding-bottom:4px;
}


.searchbutton  {
          border-radius: 0 10px 10px 0 !important;
          background: #0092cb !important;
          font-weight: 700 !important;
          color:#ffffff !important;
          height:43px !important;
          font-size: 24px !important;
          display: in-line;
        }

.advanced-search-link {
	float:right;
}



.advancedSearch {
	margin-top:10px;
	li {
		list-style:none;
		display:inline;
		padding-right:2px;
		padding-bottom:2px;
	}

	input[type=checkbox] {
		display:none;
		}

		input[type=checkbox] + label
		{
		background: #efefef;
		border-radius: 5px;
		display:inline-block;
		border:1px solid #cccccc;
		padding: 4px 10px 4px 10px;
		color:#000
		}
		input[type=checkbox]:checked + label
		{
		background: #35B07A;
		display:inline-block;
		border:1px solid #cccccc;
		color:#fff
		}
}
