<div class="carousel-container">
    <div class="media-container">
        <div>
            <template ngFor let-medium [ngForOf]="resource?.media" let-i="index">
                <img src="{{medium.url}}"
                     [ngClass]="{'medium-selected': i===selectedMedium&&!youtubeSeleceted, 'medium-unselected': i!==selectedMedium||youtubeSelected}"
                     (click)="onMediumClicked(i)" 
                     class="img-responsive medium-thumbnail"/>
            </template>
            <img src="http://img.youtube.com/vi/{{extractYoutubeId(resource?.youtubeurl)}}/0.jpg" (click)="onYoutubeClicked(i)"
                 [ngClass]="{'medium-selected': youtubeSelected, 'medium-unselected': !youtubeSelected}"
                 class="img-responsive medium-thumbnail"/>
        </div>

        <div class="video-container">
            <div>
                <div *ngIf="youtubeSelected" class="yt-container">
                    <iframe id="ytplayer" type="text/html" class="yt-full-size"
                            src="https://www.youtube.com/embed/{{extractYoutubeId(resource?.youtubeurl)}}?autoplay=1&origin=http://example.com"
                            frameborder="0" allowfullscreen></iframe>
                </div>
                <img *ngIf="resource?.media&&!youtubeSelected" src="{{ resource?.media[selectedMedium]?.url }}"
                     class="img-responsive medium-full-size"/>
            </div>
        </div>
    </div>
</div>