.carousel-container {

    .media-container
    {
        margin-top: 25px;
        margin-bottom:25px;
        padding:16px;
        box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.19);
        overflow:hidden;

        .medium {
        }
        
        .medium-selected {
            border: 2px ridge #337ab7;
        }
        
        .medium-unselected {
            border: 2px solid transparent;
        }
        
        .medium-thumbnail {
            cursor: pointer;
            cursor: -moz-pointer;
            cursor: -webkit-pointer;
            width: calc(25% - 18px);
            margin: 0px 3px 16px 0px;
            display: inline; width: 24%;
        }

        .medium-full-size{
          margin-top: 25px;
          margin-bottom: 25px;
          margin-left: auto;
          margin-right: auto;
          border: 1px solid #dcdcdc;
        }

    }

    .media-container__thumbnails{
      text-align: center;
    }

    .video-container {
        width:100%;
    }
        
    .medium-full-size {
    }
    
    .yt-full-size {
        width: 640px;
        height: 480px;
    }
    
    .yt-container {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
    }
}
