<div class="container" style="padding-top:48px;">
    <div class="row">
        <div class="col-lg-2" style="padding-left: 60px;">
            <img style="width:120px; height:120px;" src="https://jisc-store-media.s3.amazonaws.com/0984408c-3db0-4255-88ee-867fb973457e.jpg"
            width="120" height="120">
        </div>
        <div class="col-lg-2" style="padding-left: 0px;">
            <div class="col-xs-12" style="padding-left: 0px;">
                <h2 style="margin-top: 0px;">Unitu</h2>
            </div>
            <div class="col-xs-12" style="padding-left: 0px;">
                <a class="btn btn-success btn-lg" href="#">Get it</a>
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-4" style="padding-right: 60px;">
            <div class="col-xs-12" style="text-align: center; height: 52px;">
                <span class="rating-text">4.0</span>
            </div>
            <div class="col-xs-12" style="text-align: center; margin-top: 0px;">
                <rating style="font-size:18px;"></rating>
            </div>
            <div class="col-xs-12" style="text-align: center; margin-top: 0px;">
                1 Ratings
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" class="_1_uXyAeK6-cl5A6uLlrpeC">
    <div class="row">
        <div class="col-lg-2" style="padding-left: 60px;">
        </div>
    </div>
</div>

<div class="_1el4fPy4G5QfaTFYZElGKd" data-reactid=".0.1.0.1">
    <div class="_3L5JiYobssnVLRDukGUH0x" data-reactid=".0.1.0.1.0">
        <section class="_2dPnMWOa2VBUCOpfHOGi3P" data-reactid=".0.1.0.1.0.0">
            <h3 data-reactid=".0.1.0.1.0.0.0">Media</h3>
            <div class="PVD-_vuT7ufM3XwS5QC5N" data-reactid=".0.1.0.1.0.0.1">
                <button class="dtz869EzmdSN7CtNMedwL _2F3Oc3tfxWezlw6oBTMKYy _1ekogwC1MievfDM9qRLAM4 U-3oOdbP56pEVLyjEEDqV" role="button"
                data-reactid=".0.1.0.1.0.0.1.0"><i class="vmZgQoCWJG8MqU8oNM5Cg" style="font-size:18px;" data-reactid=".0.1.0.1.0.0.1.0.0"></i></button>
                <button
                class="dtz869EzmdSN7CtNMedwL _2F3Oc3tfxWezlw6oBTMKYy _1ekogwC1MievfDM9qRLAM4 U-3oOdbP56pEVLyjEEDqV" role="button"
                data-reactid=".0.1.0.1.0.0.1.1"><i class="vmZgQoCWJG8MqU8oNM5Cg" style="font-size:18px;" data-reactid=".0.1.0.1.0.0.1.1.0"></i></button>
            </div>
            <div class="_3LA8I3FCKRWjR9Gr-CzM0x" data-reactid=".0.1.0.1.0.0.2">
                <div class="_1ncTvHHzHnUCY52SWld3g3 _2HdrCJ63SGZhwtIeSbY_z7 iyiq0KT7s3RfB02TZobDI" data-reactid=".0.1.0.1.0.0.2.$33"><img src="https://jisc-store-media.s3.amazonaws.com/c9b4ee7b-976c-4707-9ba9-15324b0044fe.png"></div>
            </div>
            <div class="E-EUAhkY4mjbtobna9KOb" data-reactid=".0.1.0.1.0.0.3">
                <div data-reactid=".0.1.0.1.0.0.3.0"></div>
                <div class="_1o6QEIdiWJ5Twn2feg0E1_" data-reactid=".0.1.0.1.0.0.3.1"></div>
            </div>
        </section>
        <section class="_2dZWDxSOqfgyadfxLWBnMt" data-reactid=".0.1.0.1.0.1">
            <h3 data-reactid=".0.1.0.1.0.1.0">Overview</h3>
            <div class="OgzGhIAagFtFrd8clFvZd" data-reactid=".0.1.0.1.0.1.1">
                <p>Unitu ‘closes the feedback loop’ in a powerful and simple way. Students, course representatives and staff
                    can collectively raise, discuss and resolve academic issues all in one place.</p>
            </div>
        </section>
        <section class="_2sy1oe7h-GLAJOkNbJzJLK" data-reactid=".0.1.0.1.0.2">
            <h3 data-reactid=".0.1.0.1.0.2.0">Reviews</h3>
            <button class="dtz869EzmdSN7CtNMedwL _2F3Oc3tfxWezlw6oBTMKYy B8SRFH0-4lRRbLEIkcUfT" role="button" data-reactid=".0.1.0.1.0.2.1">Submit Review</button>
            <div data-reactid=".0.1.0.1.0.2.3">
                <div class="_1f7qmyBbQ597YNgJqOLAbm" data-reactid=".0.1.0.1.0.2.3.$3">
                    <div class="_3Aqy4tIElrpUrHaTINzMKA" data-reactid=".0.1.0.1.0.2.3.$3.0">
                        <div class="fbTF8iCLK_FmZpm0iBm8p _2QEeyoqH5iM2h0o-JVRA8t" style="width:36px;height:36px;" data-reactid=".0.1.0.1.0.2.3.$3.0.0"><img src="https://jisc-store-media.s3.amazonaws.com/vIyKmDCe_400x400.jpeg" width="36" height="36" data-reactid=".0.1.0.1.0.2.3.$3.0.0.0"></div>
                    </div>
                    <div class="_2ZDBUDfC9DPOQInJeo_KdY" data-reactid=".0.1.0.1.0.2.3.$3.1"><span data-reactid=".0.1.0.1.0.2.3.$3.1.0"></span></div>
                    <div class="_1JjTIccptPPTjGYhHGnf5D" data-reactid=".0.1.0.1.0.2.3.$3.2">OK</div>
                </div>
            </div>
            <nav class="_1Kqa4zbE96r4pFMJX3vDmX" data-reactid=".0.1.0.1.0.2.4"><span class="_1-1xDV26I0-0eclbdBFuHe undefined" data-reactid=".0.1.0.1.0.2.4.0"><i class="vmZgQoCWJG8MqU8oNM5Cg" style="font-size:24px;" data-reactid=".0.1.0.1.0.2.4.0.0"></i><span data-reactid=".0.1.0.1.0.2.4.0.1"> </span>
                <span
                data-reactid=".0.1.0.1.0.2.4.0.2">Prev</span>
                    </span>
                    <ul data-reactid=".0.1.0.1.0.2.4.1">
                        <li class="_3emEbjDSreCGyvdEBUBZdx _2wC-gqskCfE7zhcuN2w1f0" data-reactid=".0.1.0.1.0.2.4.1.$key0:0"><a href="" data-reactid=".0.1.0.1.0.2.4.1.$key0:0.0">1</a></li>
                    </ul><span class="_2fvEdtCv6betMZxkRMXAO0 undefined" data-reactid=".0.1.0.1.0.2.4.2"><span data-reactid=".0.1.0.1.0.2.4.2.0">Next</span>
                    <span
                    data-reactid=".0.1.0.1.0.2.4.2.1"> </span><i class="vmZgQoCWJG8MqU8oNM5Cg" style="font-size:24px;" data-reactid=".0.1.0.1.0.2.4.2.2"></i></span>
            </nav>
            <div class="E-EUAhkY4mjbtobna9KOb" data-reactid=".0.1.0.1.0.2.5">
                <div data-reactid=".0.1.0.1.0.2.5.0"></div>
                <div class="_1o6QEIdiWJ5Twn2feg0E1_" data-reactid=".0.1.0.1.0.2.5.1"></div>
            </div>
        </section>
    </div>
    <aside class="_22FMorVxFoM_2QIGM3CNPA" data-reactid=".0.1.0.1.1">
        <div class="_3MiQiYgKphf-iRPebDIkC-" data-reactid=".0.1.0.1.1.0">
            <div data-reactid=".0.1.0.1.1.0.0">
                <button class="dtz869EzmdSN7CtNMedwL _33swbNXotnBHMuZvQ0mIVZ B8SRFH0-4lRRbLEIkcUfT _7EEtTiOMfFx1Vhj3L3r2G" role="button"
                data-reactid=".0.1.0.1.1.0.0.0">twitter</button>
                <button class="dtz869EzmdSN7CtNMedwL _33swbNXotnBHMuZvQ0mIVZ B8SRFH0-4lRRbLEIkcUfT _7EEtTiOMfFx1Vhj3L3r2G"
                role="button" data-reactid=".0.1.0.1.1.0.0.1">0</button>
            </div>
            <div data-reactid=".0.1.0.1.1.0.1">
                <button class="dtz869EzmdSN7CtNMedwL _33swbNXotnBHMuZvQ0mIVZ B8SRFH0-4lRRbLEIkcUfT _7EEtTiOMfFx1Vhj3L3r2G" role="button"
                data-reactid=".0.1.0.1.1.0.1.0">facebook</button>
                <button class="dtz869EzmdSN7CtNMedwL _33swbNXotnBHMuZvQ0mIVZ B8SRFH0-4lRRbLEIkcUfT _7EEtTiOMfFx1Vhj3L3r2G"
                role="button" data-reactid=".0.1.0.1.1.0.1.1">0</button>
            </div>
        </div>
        <div class="_1_fMImeOdmZXN5_1lRwE9l" data-reactid=".0.1.0.1.1.1">
            <h4 data-reactid=".0.1.0.1.1.1.0">Audience</h4></div>
        <div class="_1_fMImeOdmZXN5_1lRwE9l" data-reactid=".0.1.0.1.1.2">
            <h4 data-reactid=".0.1.0.1.1.2.0">Subject Area</h4></div>
        <div class="_1_fMImeOdmZXN5_1lRwE9l" data-reactid=".0.1.0.1.1.3">
            <h4 data-reactid=".0.1.0.1.1.3.0">Platform</h4></div>
        <div class="_1_fMImeOdmZXN5_1lRwE9l" data-reactid=".0.1.0.1.1.4">
            <h4 data-reactid=".0.1.0.1.1.4.0">Characteristics</h4></div>
    </aside>
</div>