<div class="masthead" role="banner" data-mobilemenu>
  <div class="masthead__top">
    <div class="inner">
      <a id="skiplinks" class="visuallyhidden focusable in-page" href="#main" tabindex="1">
        <span>Skip to main content</span>
      </a>
      <a class="masthead__logo" href="//jisc.ac.uk">
        <img alt="Jisc logo" src="http://ux.jisc.ac.uk/ui/img/logo.png">
      </a>
      <div class=" masthead__nav--primary masthead__nav--secondary">
        {{ appVersion }}
      </div>
    </div>
    <div class="masthead__main masthead__main--with-content">
      <div class="inner">
        <h1 class="masthead__title masthead__title--long">{{ appInfoname }}</h1>
        <div class="nav-wrapper">
          <nav class="masthead__nav header__nav--primary" role="navigation" data-dropdown>
            <ul>
              <li [class.active]="isRouteActive(['Home'])" class="nav__item">
                <a [routerLink]="['Home']">Search</a>
              </li>
              <li [class.active]="isRouteActive(['TagCloud'])" class="nav__item">
                <a [routerLink]="['TagCloud']">TagCloud</a>
              </li>
              <!--<li *ngIf="authenticationService?.  userSignedIn()" [class.active]="isRouteActive(['Submissions'])" class="nav__item">
                <a [routerLink]="['Submissions']">Submissions</a>
              </li>-->
              <!--<li class="nav__item  ">
                  <a href="#">Events &amp; Training</a>
                </li>-->
            </ul>
          </nav>
          <nav class="masthead__nav masthead__nav--secondary" role="navigation" data-dropdown>
            <ul>
              <li [class.active]="isRouteActive(['SignIn']) || isRouteActive(['Register'])" class="nav__item" *ngIf="!authenticationService?.userSignedIn()">
                <a [routerLink]="['Profile']">Sign in</a>
              </li>
              <li [class.active]="isRouteActive(['Profile'])" class="nav__item" *ngIf="authenticationService?.userSignedIn()">
                <a [routerLink]="['Profile']">My profile</a>
              </li>
              <li [class.active]="isRouteActive(['About']) || isRouteActive(['Who']) || isRouteActive(['Feedback'])" class="nav__item has-popup "
                data-dropdown-item>
                <a href="javascript:void(0);">Help</a>
                <div class="submenu">
                  <ul>
                    <li><a [routerLink]="['About']">About the Jisc Store</a></li>
                    <li><a [routerLink]="['Who']">Who can register?</a></li>
                    <li><a [routerLink]="['Feedback']">Feedback</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<main id="main" role="main" class="main">
  <div class="inner l-pull-left featured">
    <div class="l-centre-offset">
      <div class="row"><br><br>
        <router-outlet></router-outlet><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
</main>