<div class="flex-container">
    <nav class="flex-nav navbar navbar-default">
        <div class="container-fluid">
            <div class="pull-left">
                <p class="navbar-text no-text-decoration">
                    <a href="/"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
                </p>
            </div>
            <div class="nav-image">
                <a [routerLink]="['Home']"><img src='../images/jisc-logo.png'></a>
            </div>
            <div *ngIf="authenticationService.userSignedIn" class="pull-right">
                <span style="color: white; font-size:16px; font-weight:600;">Hello {{ authenticationService.user.name }}</span>&nbsp;
                <a class="btn btn-warning navbar-btn" (click)="signOut()" href="#">Sign Out</a>
            </div>
            <div *ngIf="!authenticationService.userSignedIn && !atSignIn" class="pull-right">
                <a class="btn btn-warning navbar-btn" [routerLink]="['SignIn']">Sign In</a>
            </div>
        </div>
    </nav>

    <div class="flex-fill">
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>

    <footer class="footer footer2 flex-footer" role="contentinfo">
        <div class="inner-footer"><img alt="Logo" src="../images/jisc-logo.png"></div>
        <ul>
            <li><a href="/">About</a></li>
        </ul>
        <div class="terms-privacy">
            <ul>
                <li><a class="" href="/">Terms &amp; Conditions</a></li>
                <li><a class="" href="/">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>
</div>