<div class="row">
    <div class="col span-11">
        <h3>New Collection</h3>
        <p>Add new collection</p>

        <div class="new-collection">
            <form [ngFormModel]="newCollectionForm" (submit)="onSubmit(newCollectionForm.value)" novalidate>
                <label for="collectionTitle">Collection name</label>
                <input [ngFormControl]="collectionTitle" class="form-control">

                <label for="collectionDescription">Collection description</label>
                <textarea [ngFormControl]="collectionDescription" class="form-control"></textarea>

                <div class="submitbut">
                    <button [disabled]="busy" class="btn submit-review-half" type="submit">Create collection</button>
                </div>
            </form>
        </div>

        <h3>Collections</h3>
        <p>No existing collections</p>
    </div>
</div>
