<div class="carousel-container">
    <div class="media-container">
        <div class="medium" *ngFor="#medium of resource?.media; #i = index">
            <div *ngIf="medium.type_id=='2'">
                <div [ngClass]="{'medium-selected': i===selectedMedium, 'medium-unselected': i!==selectedMedium}">
                    <img src="{{medium.previewUrl}}" (click)="mediumSelected(i)" style="width: 133px;" class="img-responsive medium-thumbnail"
                    />
                </div>
            </div>
            <div *ngIf="medium.type_id==1">
                <div [ngClass]="{'medium-selected': i===selectedMedium, 'medium-unselected': i!==selectedMedium}">
                    <img src="{{medium.url}}" (click)="mediumSelected(i)" style="width: 133px;" class="img-responsive medium-thumbnail" />
                </div>
            </div>
        </div>

        <div *ngIf="resource?.media && resource?.media[selectedMedium].type_id=='2'">
            <iframe *ngIf="resource?.media" id="ytplayer" type="text/html" class="yt-full-size" src="{{resource?.media[selectedMedium]?.url}}?autoplay=0&controls=1"
            frameborder="0"></iframe>
        </div>
        <div *ngIf="resource?.media && resource?.media[selectedMedium].type_id=='1'">
            <img *ngIf="resource?.media" src="{{ resource?.media[selectedMedium].url }}" class="img-responsive medium-full-size" />
        </div>
    </div>
</div>