<div class="revision-history-container">
    <div class="row">
        <div class="resource-image col span-2">
            <img src="{{ resource?.image }}">
        </div>
        <div class="col span-8 resource-details">
            <h2>{{ resource?.title }}</h2>
            <h4>{{ resource?.overview }}</h4>
            <p>{{ resource?.description }}</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="span-6 pull-left">
            <h3>Report an issue</h3>
            <input type="text" class="input--large" placeholder="new issue"/>
            <button class="btn btn--3d btn--primary">report</button>
        </div>
        <div class="span-6 pull-left">
            <h3>Make a request</h3>
            <input type="text" class="input--large" placeholder="new request"/>
            <button class="btn btn--3d btn--primary">request</button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <h3>Revision history</h3>
        <revision *ngFor="let revision of curation" [revision]="revision"></revision>
    </div>
</div>