
<div class="app-details-container">
    <div class="app-details">
        <div class="col span-2">
            <div class="resource-image {{ widgetBackground }}">
                <img src="{{ app?.image }}" *ngIf="app?.image">
                <div class="button-container">
                    <button class="btn" role="button" (click)="goDownload()">Get it</button>
                    <button *ngIf="app?.trialurl" class="btn tryit" role="button" (click)="goTry()">Try It</button>
                </div>
            </div>
            
            <div class="cost-licence-container">
                <h4>Cost: {{ !app?.isFree ? "FREE" : "PAID" }}</h4>
                <h4 *ngIf="app?.licensetype_id">License<br /> {{ licenseType }}</h4>
                
            </div>
        </div>
        <div class="col span-6">
            <h2>{{ app?.title }}</h2>
            <div class="jorum-note" *ngIf="app?.jorum_legacy_flag"><strong>Jorum</strong> - Created on {{app?.jorum_legacy_lastmodified}} by <strong>{{app?.jorum_legacy_name}}</strong> of <strong>{{app?.jorum_legacy_type}}</strong></div>

            <h4 *ngIf="app?.overview">{{ app?.overview }}</h4>
            <p *ngIf="app?.description">{{ app?.description }}</p>
            <p><span class="created-by">Created by</span> <span
                    class="creator-name">{{ app?.creator?.username }}</span>
                <span class="about-this-contributor"><a [routerLink]="['Contributor', { id: app?.creator?.id }]">about this contributor</a></span>
            </p>
            <div class="tagcloud condensed" *ngIf="app?.tags?.length > 0">
                <h4>Tags</h4>
                <button class="btn " *ngFor="let tag of app.tags" [routerLink]="['TagCloud', { tag: tag.name }]">{{tag.name}}</button>
            </div>
        </div>
        <div class="col span-3 push-1 rating-group">
            <div>
                <span class="rating-text">{{ averageRating }}</span>
            </div>
            <div>
                <rating class="rating" [rating]="app?.average_rating"></rating>
            </div>
            <div *ngIf="reviews.length>0">
                {{ reviews.length }} rating<span *ngIf="reviews.length!=1">s</span>
            </div>
            <div>
                {{ app?.metrics?.downloads?.total || 0 }} download<span
                    *ngIf="app?.metrics?.downloads?.total!=1">s</span>
            </div>
            <div class="about-this-resource">
                <span *ngIf="authenticationService?.userSignedIn()"><a [routerLink]="['AppInfo', { id: app?.id }]">resource metrics</a></span>
                <span *ngIf="!authenticationService?.userSignedIn()"><a
                        [routerLink]="['SignIn']">resource metrics</a></span>
            </div>
            <div *ngIf="app?.curated||app?.remixed" class="curation-remix">
                <h4>Remix and Curation</h4>
                <div>
                    <div><p>This resource is open for curation and remixing.</p><p>Click the button below for more information:</p></div>
                    <button type="button" class="btn btn-primary btn-xs" (click)="goCuration()">Resource Curation</button>
                </div>
            </div>
        </div>

    </div>

    

    <div class="row" *ngIf="app?.media?.length > 0">
    <h4>Preview</h4>
        <div class="col span-8 media-container">
            <media-carousel [resource]="app"></media-carousel>
        </div>
    </div>
<div class="row"><div class="col span-11"><hr></div></div>

    <div class="col span-11 meta-section">
        <div *ngIf="app?.related?.length > 0">
            
            <h3>Related content</h3>
            <div class="app-widgets">
                <app-widget class="small" *ngFor="let relatedContent of app.related"
                            [app]="relatedContent"></app-widget>
            </div>
        </div>
        <div *ngIf="alsoBy?.length > 0">
            
            <h3>Also by {{ app?.creator?.username }}</h3>
            <div class="app-widgets">
                <app-widget class="small" *ngFor="let alsoBy of alsoBy" [app]="alsoBy"></app-widget>
            </div>
        </div>
    </div>

    <div class="row"><div class="col span-11"><hr></div></div>
    <div class="col span-11">
        <div class="col span-7 reviews-list" style="">
                
            <h3>Reviews<span *ngIf="!authenticationService?.userSignedIn()"> - <a
                    [routerLink]="['SignIn']">Sign In</a> to submit a review</span></h3>
            <div class="no-reviews" *ngIf="reviews.length==0"><p>No-one has reviewed this resource yet. Be the
                    first!</p></div>
            <div *ngFor="let review of reviews">
                    <hr>
                <div class="detail-review"><b>{{ review?.title }}</b>
                        <br>{{ review?.description }}
                        <br>
                </div>
                <div>
                        <rating rating="{{ review?.rating }}"></rating>
                    </div>
            </div>
        </div>
        <div class="col span-4">
                <submit-review *ngIf="authenticationService?.userSignedIn()" (reviewAdded)="reviewAdded(review)"
                               [resourceId]="resourceId"></submit-review>
        </div>
    </div>
</div>