
<div class="app-details-container" [class.inactive]="!app?.active">
    <div class="app-details">

        <div class="col span-8">
            <div>
                <div class="resource-image {{ widgetBackground }}">
                    <img class="img" src="{{ widgetIcon }}" *ngIf="widgetIcon" alt="">
                </div>

                <h2 class="app-details__title">{{ app?.title }}</h2>

                <p *ngIf="app?.jorum_legacy_flag"><span class="created-by">Imported by</span> <span
                        class="creator-name">Jorum</span>
                    <span class="about-this-contributor"><a [routerLink]="['AboutJorum', { id: app?.id }]">about Jorum</a></span>
                </p>
                <p *ngIf="!app?.jorum_legacy_flag"><span class="created-by">Created by</span> <span
                        class="creator-name">{{ app?.creator?.username }}</span>
                    <span class="about-this-contributor"><a [routerLink]="['Contributor', { id: app?.creator?.id }]">about this contributor</a></span>
                </p>
              </div>

              <div class="jorum-note" *ngIf="app?.jorum_legacy_flag"><strong>Jorum</strong> - Created on {{app?.jorum_legacy_lastmodified}} by <strong>{{app?.jorum_legacy_name}}</strong> of <strong>{{app?.jorum_legacy_type}}</strong></div>


            <div *ngIf="app?.active" class="button-container">
                <button class="btn btn--3d btn--primary btn--large" role="button" (click)="goDownload()">Get it</button>
                <button *ngIf="app?.trialurl" class="btn btn--3d btn--primary btn--large tryit" role="button" (click)="goTry()">Try It</button>
            </div>

            <h4 *ngIf="app?.overview">{{ app?.overview }}</h4>
            <p *ngIf="app?.description">{{ app?.description }}</p>

            <div class="filelist-container" *ngIf="app?.jorum_legacy_metadata">
                <h4>Included in this resource:</h4>
                <ul>
                <li *ngFor="let file of fileList">{{file}}</li>
                </ul>
            </div>

            <div class="tagcloud condensed" *ngIf="app?.tags?.length > 0">
                <h4>Tags</h4>
                <ul class="tags tags--white">
                  <li class="tags__item" *ngFor="let tag of app.tags">
                    <span href="#" class="tags__link">{{tag.name}}</span>
                  </li>
                </ul>
            </div>
        </div>


        <div class="col span-3 push-1 rating-group">

          <rating class="rating" modifierClass="detail" [rating]="app?.average_rating"></rating>

          <h4>Popularity</h4>

          <table class="table--unstyled">
            <tr>
              <td>Rating:</td>
              <td class="text-right">{{ averageRating }}</td>
            </tr>
            <tr *ngIf="reviews.length>0">
                <td>Reviews:</td>
                <td class="text-right">{{ reviews.length }}</td>
            </tr>
            <tr>
              <td>Downloads:</td>
              <td class="text-right">
                {{ app?.metrics?.downloads?.total || 0 }}
              </td>
            </tr>
            <tr>
              <td>
                <span *ngIf="authenticationService?.userSignedIn()"><a [routerLink]="['AppInfo', { id: app?.id }]">Resource metrics</a></span>
                <span *ngIf="!authenticationService?.userSignedIn()"><a [routerLink]="['SignIn']">Resource metrics</a></span>
              </td>
            </tr>
          </table>

            <div *ngIf="!(app?.isfree === null)" class="app-details-row">
              <h4>Price</h4>
              <span>{{ !app?.isfree ? "Price: £ -" : "FREE" }}</span>
            </div>

            <div class="app-details-row">
              <h4>Licence:</h4>
              <span *ngIf="app?.licensetype_id">{{ licenseType }}</span>
              <a href='{{app?.licenceurl}}' target="_blank" *ngIf="app?.licenceurl!= null">VIEW LICENCE</a>
            </div>

            <div *ngIf="app?.jorum_legacy_curation_flag" class="curation-remix">
                <h4>This resource is open for curation</h4>
                <div *ngIf="authenticationService?.userSignedIn()">
                    <div><p>Click the button below for more information:</p></div>
                    <button type="button" class="btn btn-primary btn-xs" (click)="goCuration()">Resource Curation</button>
                </div>
                <div *ngIf="!authenticationService?.userSignedIn()">
                <p>Sign in to visit resource curation.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="app?.media?.length > 0">
        <h3>Preview</h3>
        <div class="media-container">
            <media-carousel [resource]="app"></media-carousel>
        </div>
    </div>
    <div class="row" *ngIf="app?.media?.length == 0">
        <h3>Preview</h3>
        <div class="media-container">
            Preview coming soon.
        </div>
    </div>

    <div class="row"><div class="col span-12"><hr></div></div>


    <div class="resource-problem">
        <h3>Problems with this resource?</h3>
        <p>Email <a href="mailto:support@jiscstore.freshdesk.com">support@jiscstore.freshdesk.com</a></p>
    </div>


    <div class="row"><div class="col span-12"><hr></div></div>


    <div class="col span-11" *ngIf="app?.active">
        <div class="col span-7 reviews-list">

            <h3>Reviews<span *ngIf="!authenticationService?.userSignedIn()"> - <a
                    [routerLink]="['SignIn']">Sign in</a> to submit a review</span></h3>
            <div class="no-reviews" *ngIf="reviews.length==0"><p>No-one has reviewed this resource yet. Be the
                    first!</p></div>
            <div *ngFor="let review of reviews"  class="reviews-list__item">
                <div class="detail-review"><b>{{ review?.title }}</b>
                    <br>{{ review?.description }}
                    <br>
                </div>
                <div>
                    <rating rating="{{ review?.rating }}"></rating>
                </div>
            </div>
        </div>
        <div class="col span-3">
                <submit-review *ngIf="authenticationService?.userSignedIn()" (reviewAdded)="reviewAdded(review)"
                               [resourceId]="resourceId"></submit-review>
        </div>
    </div>


    <div class="row"><div class="col span-12"><hr></div></div>

    <div class="col span-11 meta-section">
        <div *ngIf="app?.related?.length > 0">
            <h3>Related content</h3>
            <div class="app-widgets">
                <app-widget class="small" *ngFor="let relatedContent of app.related"
                            [app]="relatedContent"></app-widget>
            </div>
        </div>
        <div *ngIf="alsoBy?.length > 0">
            <h3>Also by {{ app?.creator?.username }}</h3>
            <div class="app-widgets">
                <app-widget class="app-widget app-widget--small" *ngFor="let alsoBy of alsoBy" [app]="alsoBy"></app-widget>
            </div>
        </div>
    </div>
</div>
