<div class="row">
    <div class="col span-3">

        <div class="explore-filter" *ngIf="resourceUseTypes">
            <h3 class="explore-filter__title" [ngClass]="{'opened' : showFilterUseType}" (click)="showFilterUseType = !showFilterUseType">Use Type</h3>

            <div class="explore-filter__inner" [ngClass]="{'hidden' : !showFilterUseType}">
                <ul>
                    <li *ngFor="let useType of resourceUseTypes">
                        <a (click)="selectResourceProperty('useType', useType.id, $event)" class="explore-filter__property" [class.explore-filter__property--active]="resourceUseType === useType.id" href="#">{{useType.name}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="explore-filter" *ngIf="resourceLevels">
            <h3 class="explore-filter__title" [ngClass]="{'opened' : showFilterLevel}" (click)="showFilterLevel = !showFilterLevel">Level</h3>

            <div class="explore-filter__inner" [ngClass]="{'hidden' : !showFilterLevel}">
                <ul>
                    <li *ngFor="let level of resourceLevels">
                        <a (click)="selectResourceProperty('level', level.id, $event)" class="explore-filter__property" [class.explore-filter__property--active]="resourceLevel === level.id" href="#">{{level.name}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="explore-filter" *ngIf="resourceSubjects">
            <h3 class="explore-filter__title" [ngClass]="{'opened' : showFilterSubject}" (click)="showFilterSubject = !showFilterSubject">Subject</h3>

            <div class="explore-filter__inner" [ngClass]="{'hidden' : !showFilterSubject}">
                <ul>
                    <li *ngFor="let subject of resourceSubjects">
                        <a (click)="selectResourceProperty('subject', subject.id, $event)" [ngClass]="{'hidden' : subjectFilter != null && subjectFilter == subject.filter}" class="explore-filter__property" [class.explore-filter__property--active]="resourceSubject === subject.id" href="#">{{subject.name}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="explore-filter">
            <h3 class="explore-filter__title" [ngClass]="{'opened' : showFilterTag}" (click)="showFilterTag = !showFilterTag">Tags</h3>

            <div class="explore-filter__inner" [ngClass]="{'hidden' : !showFilterTag}">
                <span>Order by</span>
                <ul class="list--inline ordertags">
                    <li class="list--inline__item">
                        <span (click)="order('az')" [class.selected]="chosenOrder==='az'">A..Z</span>,
                    </li>
                    <li class="list--inline__item">
                        <span [class.selected]="chosenOrder==='pop'" (click)="order('pop')">Popularity</span>,
                    </li>
                    <li class="list--inline__item">
                        <span [class.selected]="chosenOrder==='updated'" (click)="order('updated')">Latest</span>
                    </li>
                </ul>

                <div *ngIf="tagcloud" class="tagcloud condensed" [hidden]="gettingTags===true">
                    <ul class="tags tags--white">
                        <li class="tags__item" *ngFor="let tag of tagcloud.Tags">
                            <a href="#" class="tags__link" (click)="selectTag($event, tag.id)">{{tag.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="loader" [hidden]="gettingTags===false">
            <span class="block-1"></span>
            <span class="block-2"></span>
            <span class="block-3"></span>
            <span class="block-4"></span>
            <span class="block-5"></span>
            <span class="block-6"></span>
            <span class="block-7"></span>
            <span class="block-8"></span>
            <span class="block-9"></span>
            <span class="block-10"></span>
            <span class="block-11"></span>
            <span class="block-12"></span>
            <span class="block-13"></span>
            <span class="block-14"></span>
            <span class="block-15"></span>
            <span class="block-16"></span>
        </div>

    </div>
    <div class="col span-7 push-1">
        <div class="row">
            <div *ngIf="selectedTags.Tags.length > 0" class="tagexplore selected">
                <button class="btn" *ngFor="let tag of selectedTags.Tags">
                    <span title="remove"
                          (click)="removeTag(tag.id)"
                          class="glyphicon glyphicon-remove-circle"></span>{{tag.name}}

                </button>
            </div>
            <!--<div *ngIf="selectedTags.Tags.length == 0">-->
                <!--<br/>-->
                <!--<p>Select a tag opposite to start exploring.<br/>-->
                    <!--You can refine your search by adding or removing tags as you go.</p>-->
                <!--<p>Tags are initally ordered by popularity.-->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="loader" [hidden]="gettingResources===false">
                <span class="block-1"></span>
                <span class="block-2"></span>
                <span class="block-3"></span>
                <span class="block-4"></span>
                <span class="block-5"></span>
                <span class="block-6"></span>
                <span class="block-7"></span>
                <span class="block-8"></span>
                <span class="block-9"></span>
                <span class="block-10"></span>
                <span class="block-11"></span>
                <span class="block-12"></span>
                <span class="block-13"></span>
                <span class="block-14"></span>
                <span class="block-15"></span>
                <span class="block-16"></span>
            </div>

            <div class="col span-12" [hidden]="gettingResources!==false">
                <div>
                    <!--*ngIf="selectedTags.Tags.length > 0"-->
                    <h3 *ngIf="resultsCount==1">{{resultsCount}} result found</h3>
                    <h3 *ngIf="resultsCount!=1">{{resultsCount}} results found</h3>
                    <p *ngIf="totalPages>1">Showing page {{currentPage}} of {{totalPages}}</p>
                </div>
                <app-widgets [apps]="storeApps" class="app-widgets--slim"></app-widgets>
            </div>
            <div class="col span-12" *ngIf="totalPages>1" [hidden]="gettingResources!==false">
                <pagination [totalPages]="totalPages" [currentPage]="currentPage"
                            (pageClicked)="onPageClicked($event)"></pagination>
            </div>
        </div>

    </div>
</div>



