<div class="row">
    <div class="col-md-4">

        <div class="ordertags">Order By <span (click)="order('az')" [class.selected]="chosenOrder==='az'">A..Z</span>,
            <span [class.selected]="chosenOrder==='pop'" (click)="order('pop')">Popularity</span>, <span
                    [class.selected]="chosenOrder==='latest'" (click)="order('latest')">Latest</span></div>

        <ul *ngIf="tagcloud" class="tags tagexplore"  [hidden]="gettingTags===true">
            <li class="tags__item" *ngFor="let tag of tagcloud">
                <a class="tags__link"  (click)="selectTag(tag.id)">
                    {{tag.name}}
                </a>
            </li>

        </ul>

        <div class="loader" [hidden]="gettingTags===false">
            <span class="block-1"></span>
            <span class="block-2"></span>
            <span class="block-3"></span>
            <span class="block-4"></span>
            <span class="block-5"></span>
            <span class="block-6"></span>
            <span class="block-7"></span>
            <span class="block-8"></span>
            <span class="block-9"></span>
            <span class="block-10"></span>
            <span class="block-11"></span>
            <span class="block-12"></span>
            <span class="block-13"></span>
            <span class="block-14"></span>
            <span class="block-15"></span>
            <span class="block-16"></span>
        </div>
        <!--  <div *ngIf="tagcloud" class="tagcloud">
              <button class="btn" [class.selected]="chosenTag===tag.name" *ngFor="let tag of tagcloud"
                      (click)="getTaggedApps(tag.name)"> {{tag.name}}
              </button>
          </div>-->
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="selectedTagcloud" class="tagexplore selected">
                    <button class="btn" *ngFor="let tag of selectedTagcloud"><span title="remove"
                                                                                   (click)="removeTag(tag.id)"
                                                                                   class="glyphicon glyphicon-remove-circle"></span>{{tag.name}}

                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col span-12">
                <app-widgets [apps]="storeApps"></app-widgets>
            </div>
        </div>
    </div>
</div>



