@import "~slick-carousel/slick/slick.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

$slick-arrow-color: black !default;
$slick-opacity-default: 0.6 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.hero__item{
  transition: transform 0.5s, background-color 0.5s, opacity 0.5s;
  opacity: 1;

  @media screen and (min-width: $screen-md-min) {
    position: relative;

    &:not(.slick-center){
      transform: scale(0.85);
      background-color: rgba(182, 189, 191, 0.7);
      opacity: 0.75;

      .hero-carousel__hide-inactive{
        opacity: 0.3;
      }
    }
  }

  &:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: inherit;
    content: '';
    pointer-events: none;
  }
}

.hero-carousel{
  margin-top: 45px;
  margin-bottom: 35px;
  margin-right: -20px;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0;

  @media screen and (max-width: $screen-sm-max) {
    max-width: 685px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $screen-md-min) {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 0;
    padding-right: 0;
  }

  &.slick-initialized{
    animation: fadeIn forwards 0.25s;
    animation-delay: 0.5s;
  }
}

.hero-carousel__app{
  @media screen and (max-width: $screen-sm-max) {
    min-height: 285px;
  }
}

.hero-carousel__hide-inactive{
  opacity: 1;
  transition: opacity 0.5s;
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    top: 0;
    cursor: pointer;
    background: transparent;
    color: black;
    padding: 0;
    border: none;
    outline: none;
    font-size: 0;
    z-index: 5;
    height: 100%;
    width: 60px;

    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-size: 20px;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        border: solid black;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 3px;
        vertical-align: middle;
        height: 40px;
        width: 40px;
    }
}

.slick-prev {
  left: 0;
  text-align: right;

  &:before {
    content: "";
    transform: rotate(135deg);
  }

  @media screen and (min-width: $screen-md-min) {
    left: 22px;
  }
}

.slick-next {
  right: 0;
  text-align: left;

  &:before {
    content: "";
    transform: rotate(-45deg);
  }

  @media screen and (min-width: $screen-md-min) {
    right: 22px;
  }
}
