<div class="refine-search" *ngIf="resourceUseTypes && resourceLevels && resourceSubjects">
	<span>I am looking for</span>

	<label for="resource-usetype" class="sr-only">Select resource use type</label>
	<select name="resource-usetype" (change)="update($event.target.name, $event.target.value)" class="refine-search__select" [ngModel]="resourceUseType">
		<option value="all">all</option>
		<option *ngFor="let useType of resourceUseTypes" [value]="useType.id" class="refine-search__option">{{useType.name}}</option>
	</select>

	<span>resources for</span>

	<label for="resource-level" class="sr-only">Select resource use type</label>
	<select name="resource-level" (change)="update($event.target.name, $event.target.value)" class="refine-search__select" [ngModel]="resourceLevel">
		<option value="all">all</option>
		<option *ngFor="let level of resourceLevels" [value]="level.id" class="refine-search__option">{{level.name}}</option>
		<option value="{{vocationalValue}}">Vocational</option>
	</select>

	<span>Education in</span>

	<label for="resource-subject" class="sr-only">Select resource use type</label>
	<select name="resource-subject" (change)="update($event.target.name, $event.target.value)" class="refine-search__select" [ngModel]="resourceSubject">
		<option value="all" [selected]="resourceSubject == 'all'">all subjects</option>
		<option *ngFor="let subject of resourceSubjects" [value]="subject.id" [disabled]="subjectFilter != null && subjectFilter == subject.filter" class="refine-search__option">{{subject.name}}</option>
	</select>

</div>
