<div class="app-details">

    <div class="col span-2">
        <div class="detail-image">
            <img style="width:128px; height:128px;" src="{{ app?.image }}">
            <button class="btn" role="button" (click)="getApp()">Get it</button>
        </div>
    </div>
    <div class="col span-6">
        <h2>{{ app?.title }}</h2>
        <h4>{{ app?.overview }}</h4>
        <p>{{ app?.description }}</p>
        <p>Created by <span class="creator-name">{{ app?.creator?.username }}</span></p>

    </div>


</div>
