<div class="col span-11">
	<h1>The Jorum Preview Release</h1><br />
	<h4>Thank you!</h4> <br />
	<p>You are helping us to provide the best possible platform for the discovery and delivery of educational resources by sharing your time and thoughts with us.</p>
   	<p>The store works just like any other digital store, with a mixture of free and paid-for resources, each with clear licensing and cost. You can search and explore, and recognise good content through ratings and reviews. We’re starting with the basics for this release and we’ll build on our curation model based on your feedback so initially you’ll be able to make requests and raise issues about resources and have discussions around these but you won’t be able to add your own content just yet.</p>

   	<p>Most importantly, we want you to feedback on the app and resource store so we’ve added it as a resource with open curation and we’ll collate these suggestions and feed them back into the development pipeline so what this becomes is really down to you!</p>
</div>

