<div class="col span-11">
	<div class="static-container about-container">
		<h1>About</h1>
		<p>The store works just like any other digital store, with a mixture of free and paid-for resources, each with clear
			licensing and cost. You can search and explore, and recognise good content through ratings and reviews.
			We are now open for submissions for free resources! Thank-you to everyone in the community that got involved!</p>

		<p>If you have a resource you want to share with the rest of the community, you can upload it to the store platform,
			or simply provide a listing to it if it's an online service or resource, through the Curation app.</p>

		<p>We want you to feedback on the app and resource store so if you have an idea for the Store or are having problems
			accessing the resources let us know on <a href="mailto:support@jiscstore.freshdesk.com">support@jiscstore.freshdesk.com</a>.
			We'll collate these suggestions and feed them back into the development pipeline so what this becomes is really
			down to you!</p>
	</div>

	<div *ngIf="releaseNotes">
		<h2>Release Notes</h2>
		<div *ngFor="let release of releaseNotes" class="release-container">

			<h4 class="version-label">Version {{release.version_number}}</h4>

			<div [innerHtml]="release.description"></div>

		</div>
	</div>
</div>
