.about-container {
  margin-bottom: 40px;
}

.release-container {
  margin-bottom: 30px;

  .version-label {
    margin-bottom: 15px;
  }

  li {
    padding: 2px 0 10px 2em;
    line-height: 27px;
    line-height: 2.7rem;
    background-repeat: no-repeat;
    background-position: 8px 12px;
    background-color: transparent;
    overflow: hidden;
    background-image: url('../../../images/purple-bullet.png');
  }

}