<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="app-widget-container">
        <div class="app-widget-images" style="background-image: linear-gradient( hsla(0,0%,60%,.6), hsla(0,0%,60%,.6) ), url(https://jisc-store-media.s3.amazonaws.com/0984408c-3db0-4255-88ee-867fb973457e.jpg);">
            <div class="app-widget-small-image-container">
                <div class="widget-image-inner">
                    <img src="https://jisc-store-media.s3.amazonaws.com/0984408c-3db0-4255-88ee-867fb973457e.jpg" width="100" height="100">
                </div>
            </div>
        </div>
        <div>
            <div class="test1">Unitu</div>
            <div class="test2">Closes the feedback loop.</div>
            <div class="_2TUm08nej8g4uy7xAv2ZuZ">
                <div class="_1N1e2zEID-BFyoSV45dVFq">
                    <span title="5" class="rating-deselected"><i class="glyphicon glyphicon-star"></i></span>
                    <span title="4" class="rating-selected"><i class="glyphicon glyphicon-star"></i></span>
                    <span title="3" class="rating-selected"><i class="glyphicon glyphicon-star"></i></span>
                    <span title="2" class="rating-selected"><i class="glyphicon glyphicon-star"></i></span>
                    <span title="1" class="rating-selected"><i class="glyphicon glyphicon-star"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>