<article class="box box--padding-large box--brd-mgreyblue app-details__notice" *ngIf="resourceUseTypes && resourceLevels && resourceSubjects && displayCategoryForm">
	<header class="box--notice__header">
		This resource has no categories assigned to it
	</header>
	<div class="box__inner">
		<p>Please help us to improve the search results by selecting the categories you think this resource belongs within.</p>
	</div>
</article>
<div class="category-select" *ngIf="resourceUseTypes && resourceLevels && resourceSubjects && displayCategoryForm">
	<form [ngFormModel]="searchForm" (submit)="onSubmitAssignCategories(searchForm.value)">
		<span>This is a</span>

		<label for="resource-usetype" class="sr-only">Select resource use type</label>
		<select name="resource-usetype" class="category-select__select" (change)="selectedUseType = getCategoryItem($event.target.value, resourceUseTypes)" [ngModel]="resourceUseType" [ngFormControl]="formUseType">
			<option *ngFor="let useType of resourceUseTypes" [value]="useType.id" class="category-select__option">{{useType.name}}</option>
		</select>

		<span>resource for</span>

		<label for="resource-level" class="sr-only">Select resource level</label>
		<select name="resource-level" class="category-select__select" (change)="selectedLevel = getCategoryItem($event.target.value, resourceLevels); setSubjectFilter($event.target.value)" [ngModel]="resourceLevel" [ngFormControl]="formLevel">
			<option *ngFor="let level of resourceLevels" [value]="level.id" class="category-select__option">{{level.name}}</option>
		</select>

		<span>Education in</span>

		<label for="resource-subject" class="sr-only">Select resource subject</label>
		<select name="resource-subject" class="category-select__select" (change)="selectedSubject = getCategoryItem($event.target.value, resourceSubjects)" [ngModel]="resourceSubject" [ngFormControl]="formSubject">
			<option *ngFor="let subject of resourceSubjects" [value]="subject.id" [disabled]="subjectFilter != null && subjectFilter != subject.filter" class="category-select__option">{{subject.name}}</option>
		</select>

		<button type="submit" class="btn btn--3d btn--primary btn--large category-select__btn">Submit</button>
	</form>
</div>

<p *ngIf="!displayCategoryForm" class="box box--padding-large box--success category-select__alert">Thank you for submitting categories for this resource</p>