@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.app-details {
    h3 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
    }
    
    h4 {
        font-size: 16px;
        font-weight: bold;
    }
    
    section {
        padding-bottom: 16px;
    }
    
    @media screen and (max-width:$screen-md-max) {
       .overview-title {
           background: red;
       }
    }
}