$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@font-face{
    font-family:"Stag Sans Web Light";
    src: url("/css/StagSansWeb-Light.woff") format('woff');
    font-weight:400;font-style:normal;font-stretch:normal
}



@font-face{
font-family:"Stag Sans Web Book";
src: url("/css/StagSansWeb-Book.woff") format('woff');
font-weight:400;
font-style:normal;
font-stretch:normal
}

.icon {
    font-family: Icomoon
}

html {
  position: relative;
  min-height: 100%;

margin: 0px;  
}

main {
   max-width: 100%;
   max-height: 100%;
}

body {
    margin: 0;
    width: 100%;
    margin: 0px;

}

.menu-button {
bottom:auto !important;
}

.mobile-menu.showing {
    display:block;
    position: relative;
    top: 26px;
    left: -10px;
    margin-right: -10px;
    padding-bottom:100%;
}


.flex-nav {
    flex: 0 0 52px;
}
.appstoretitle{
    h1{
    font-weight:700;
    margin-bottom:0px;
    }
    h2{
    font-size:1.5em;
    margin-top:0px;
    margin-bottom:25px;
    margin-right:10px;
    }
}

.btn {
    text-transform: uppercase;
}

html {
 	font-family: "Stag Sans Web Book",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Arial,sans-serif;
 	-ms-text-size-adjust: 100%;
 	-webkit-text-size-adjust: 100%;
 	-webkit-font-feature-settings: "kern", "liga", "pnum";
 	-moz-font-feature-settings: "kern", "liga", "pnum";
	-ms-font-feature-settings: "kern", "liga", "pnum";
	font-feature-settings: kern, liga, pnum;
	-webkit-font-smoothing: antialiased;
	color: #0c2931;
	line-height: 1.5;
}

body,button,h1,h2,h3,h4,h5,h6,input,textarea, a {
    font-family: "Stag Sans Web Book",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Arial,sans-serif;
}

footer {
    position:absolute;
    bottom:0px;
    width:100%;
    font-weight:bold;
    padding:10px;
    background:#2c3841;
    color:#fff;
}

.row{
    margin-left:0px;
    margin-right:0px;
    padding-right:10px;
}
.inner {
    margin-right:0px;
}

.nav-image {
	width: 94px;
	margin: 0 auto;
	display: block;
	text-align: center;
    
    a {
        position: relative;
        float: left;
        background: #fff
    }
    
    a:hover img {
	   opacity: .9
    }
    
    img {
        display: block;
        height: 52px
    }
}

.no-text-decoration a:hover {
    text-decoration: none;
}

.input-container {
    padding-top: 54px;
    display: flex; 
    justify-content: center;  
    display: -webkit-flex; 
    -webkit-justify-content: center;
}

.rating-selected {
	color: rgb(255, 204, 102);
}

.rating-deselected {
    color: rgb(204, 204, 204);
}

/* bootstrap overrides */


body {
    height: 100%;
}
    
.navbar {
	height: 52px;
	background: #0c2931;
    border: 0;
    margin: 0;
    border-radius:0;
}

a {
	color: #0092cb;
	text-decoration: none !important;
	-webkit-transition: color .1s linear;
	transition: color .1s linear
}

a:active, a:focus, a:hover {
	color: #005b7f
}

a:active, a:focus {
	outline: 0
}



main, app-store {
    width: 100%;
    margin-bottom:40px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}
    
.flex-fill {
    flex: 1 1 auto;
}

.submenu{
  li, a {cursor: pointer;}
  
}

.masthead__nav .submenu {
    width:193px !important;
}