$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// #e85e12. highlight #ea6e2a



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

html {
 	font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
 	font-family: sans-serif;
 	-ms-text-size-adjust: 100%;
 	-webkit-text-size-adjust: 100%;
 	-webkit-font-feature-settings: "kern", "liga", "pnum";
 	-moz-font-feature-settings: "kern", "liga", "pnum";
	-ms-font-feature-settings: "kern", "liga", "pnum";
	font-feature-settings: kern, liga, pnum;
	-webkit-font-smoothing: antialiased;
	color: #0c2931;
	line-height: 1.5;
}

._331U-ev2oSgMplO4ONhPr5 {
	float: left;
	display: block;
	margin-right: 2.12766%;
	width: 23.40426%
}

._1z-36ryq88XtLm_xXYinUY._37llQSVqkvnMo1ZQ3fefEE {
	border-radius: 3px
}
._1z-36ryq88XtLm_xXYinUY._2djFamO_XaAhDDrEqMB63d {
	border-radius: 50%
}
._1z-36ryq88XtLm_xXYinUY._2KDXx-HYBOgjLWbEl2WQwG {
	box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0,0,0,.24)
}
._1z-36ryq88XtLm_xXYinUY._1lNsM4gLnLFD77qqX59x_k {
	box-shadow: 0 3px 10px rgba(0,0,0,.16), 0 3px 10px rgba(0,0,0,.23)
}
._1z-36ryq88XtLm_xXYinUY._2gGL2q6G0BTQ01iH2j4m5Q {
	box-shadow: 0 10px 30px rgba(0,0,0,.19), 0 6px 10px rgba(0,0,0,.23)
}
._1z-36ryq88XtLm_xXYinUY._2zdoifgseN2A7ocYf3q0wc {
	box-shadow: 0 14px 45px rgba(0,0,0,.25), 0 10px 18px rgba(0,0,0,.22)
}
._1z-36ryq88XtLm_xXYinUY._1fCKgUUoJEeH01_xGtNnvk {
	box-shadow: 0 19px 60px rgba(0,0,0,.3), 0 15px 20px rgba(0,0,0,.22)
}
.G0TOp25O3uhac9c6LG09o {
	position: relative;
	overflow: hidden;
	height: 86px;
	max-height: 86px;
	background-color: #eee;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}
._726qHFRuBNPC-3XFvUch0 {
    background-color: lightblue;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-size: cover;
	background-position: center
}
._726qHFRuBNPC-3XFvUch0.rQUV9FVlhE9d4Z-PbfkoQ:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: hsla(0,0%,60%,.6)
}

._1dp1av8dgxwO3rAcXG84U- img {
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.full-height {
    min-height: 100%; 
    position: relative;
}

.nav-image {
	width: 94px;
	margin: 0 auto;
	display: block;
	text-align: center;
    
    a {
        position: relative;
        float: left;
        background: #fff
    }
    
    a:hover img {
	   opacity: .9
    }
    
    img {
        display: block;
        height: 52px
    }
}

.no-text-decoration a:hover {
    text-decoration: none;
}

.landing-page-jumbotron {
    text-align: center;
    background-image: url("../images/polygon-bg.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0;
	padding-bottom: 0;
    margin-bottom: 0;
	height: 308px;
    line-height: 24px;

    h1 {
        font-size: 35.2px;
        font-weight: 400;
        padding-top: 42px;
        margin-top: 0px;
    }   
    
    input {
        border: none;
        border-bottom: 1px solid rgba(12,41,49,.12);
        display: block;
        font-size: 1pc;
        margin: 0;
        padding: 4px 0;
        background: 1pc;
        color: inherit;
        line-height: inherit;
        border-radius: 0;
        width: 300px;
    }
}

.input-container {
    padding-top: 54px;
    display: flex; 
    justify-content: center;  
    display: -webkit-flex; 
    -webkit-justify-content: center;
}

.test2 {
	font-size: .9em;
	line-height: 1.5em;
	padding: .5em .75em
}

.test1   {
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	border-radius: 3px 3px 0 0;
	font-weight: 700;
	line-height: 1.5em;
	padding: .5em .75em;
}

// used
.vmZgQoCWJG8MqU8oNM5Cg {
	font-family: Material Icons;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga';
	font-feature-settings: liga
}

// used
._2TUm08nej8g4uy7xAv2ZuZ {
	padding: .5em .75em
}

.rating-selected {
	color: rgb(255, 204, 102);
}

.rating-deselected {
    color: rgb(204, 204, 204);
}

// used
._1N1e2zEID-BFyoSV45dVFq {
	direction: rtl;
	unicode-bidi: bidi-override;
	text-align: left;
	display: inline-block;
	line-height: normal;
	font-size: 1.3em
}

.landing-page-jumbotron > .input-container input::-webkit-input-placeholder {
    color: rgba(12, 41, 49, 0.258824);
}
.landing-page-jumbotron > .input-container input:-moz-placeholder {
    color: rgba(12, 41, 49, 0.258824);
    opacity:  1;
}
.landing-page-jumbotron > .input-container input::-moz-placeholder {
    color: rgba(12, 41, 49, 0.258824);
    opacity:  1;
}
.landing-page-jumbotron > .input-container input:-ms-input-placeholder {
    color: rgba(12, 41, 49, 0.258824);
}
.landing-page-jumbotron > .input-container input:placeholder-shown {
    color: rgba(12, 41, 49, 0.258824);
}

._39f0RT9JVqutUgD6tDw1pB {
	background: #eee;
	text-align: center
}
._39f0RT9JVqutUgD6tDw1pB ._3eoNVu9wVfdFodSkHSMuxK {
	display: inline-block;
	margin: 0 15px;
	line-height: 3
}
._39f0RT9JVqutUgD6tDw1pB ._1ZqVquAC_XahP8dzFKSjUz {
	font-weight: 700
}

/* bootstrap overrides */

*, :after, :before {
	box-sizing: inherit
} /*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

signin, main, app-storeapp {
    height: 100%;
}

body {
	margin: 0;
    min-height: 100%;
    height: 100%;
    font-family: "Stag Sans Web Light",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Arial,sans-serif
}

.navbar {
	height: 52px;
	background: #0c2931;
    border: 0;
    margin: 0;
}

a {
	color: #0092cb;
	text-decoration: none;
	-webkit-transition: color .1s linear;
	transition: color .1s linear
}

a:active, a:focus, a:hover {
	color: #005b7f
}

a:active, a:focus {
	outline: 0
}

._2LLuu_gpg9FBPewU-lOCGN {
    font-size: 16px;
	bottom: 0;
	left: 0;
	background: #c3d1d6;
	padding: 1.5em;
    margin-top: 86px;
	width: 100%;
	height: 86px;
	border-bottom: 20px solid #0c2931
}

._2LLuu_gpg9FBPewU-lOCGN ul {
	line-height: 1.5em;
	margin: 0 0 1em;
	padding: 0
}

@media screen and (min-width:53.75em) {
    ._2LLuu_gpg9FBPewU-lOCGN ul {
        float: left;
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0
    }
}

._2LLuu_gpg9FBPewU-lOCGN ul li {
	font-weight: 800;
	list-style: none;
	padding-right: 1em
}

@media screen and (min-width:53.75em) {
    ._2LLuu_gpg9FBPewU-lOCGN ul li {
        display: inline;
        text-align: left
    }
}

._2LLuu_gpg9FBPewU-lOCGN ul li a {
	color: hsla(0,0%,100%,.4);
	text-decoration: none
}

._2LLuu_gpg9FBPewU-lOCGN ul li a:focus, ._2LLuu_gpg9FBPewU-lOCGN ul li a:hover {
	color: #fff
}

@media screen and (min-width:53.75em) {
    .M7qygVPOtRJVQQy_QGmCd {
        float: left;
        margin-bottom: 0
    }
}

@media screen and (min-width:53.75em) {
    ._32rAl_drLHxffZtdsJpz6r {
        float: right
    }
}

._32rAl_drLHxffZtdsJpz6r li {
	font-size: .8em;
	font-weight: 400
}

.M7qygVPOtRJVQQy_QGmCd img {
	height: 5em
}

.M7qygVPOtRJVQQy_QGmCd {
	margin-right: 1em;
	margin-bottom: 1em
}

._2LLuu_gpg9FBPewU-lOCGN ul {
	line-height: 1.5em;
	margin: 0 0 1em;
	padding: 0
}

@media screen and (min-width:53.75em) {
    ._2LLuu_gpg9FBPewU-lOCGN ul {
        float: left;
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0
    }
}

._2LLuu_gpg9FBPewU-lOCGN ul li {
	font-weight: 800;
	list-style: none;
	padding-right: 1em
}

@media screen and (min-width:53.75em) {
    ._2LLuu_gpg9FBPewU-lOCGN ul li {
        display: inline;
        text-align: left
    }
}

._2LLuu_gpg9FBPewU-lOCGN ul li a {
	color: hsla(0,0%,100%,.4);
	text-decoration: none
}

._2LLuu_gpg9FBPewU-lOCGN ul li a:focus, ._2LLuu_gpg9FBPewU-lOCGN ul li a:hover {
	color: #fff
}
