$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html {
  position: relative;
  min-height: 100%;

margin: 0px;  
}

main {
   max-width: 100%;
   max-height: 100%;
}

body {
    margin: 0;
    width: 100%;
    margin: 0px;

}


.flex-nav {
    flex: 0 0 52px;
}
.appstoretitle{
    h1{
    font-weight:700;
    margin-bottom:0px;
    }
    h2{
    font-size:1.5em;
    margin-top:0px;
    margin-bottom:25px;
    }
}

.btn {
    text-transform: uppercase;
}

html {
 	font-family: 'Droid Sans';
 	font-family: sans-serif;
 	-ms-text-size-adjust: 100%;
 	-webkit-text-size-adjust: 100%;
 	-webkit-font-feature-settings: "kern", "liga", "pnum";
 	-moz-font-feature-settings: "kern", "liga", "pnum";
	-ms-font-feature-settings: "kern", "liga", "pnum";
	font-feature-settings: kern, liga, pnum;
	-webkit-font-smoothing: antialiased;
	color: #0c2931;
	line-height: 1.5;
}

body,button,h1,h2,h3,h4,h5,h6,input,textarea, a {
  font-family: 'Droid Sans';
}
footer {
    position:absolute;
    bottom:0px;
    width:100%;
    font-weight:bold;
    padding:10px;
    background:#2c3841;
    color:#fff;
}

.row{
    margin-left:0px;
}

.nav-image {
	width: 94px;
	margin: 0 auto;
	display: block;
	text-align: center;
    
    a {
        position: relative;
        float: left;
        background: #fff
    }
    
    a:hover img {
	   opacity: .9
    }
    
    img {
        display: block;
        height: 52px
    }
}

.no-text-decoration a:hover {
    text-decoration: none;
}

.input-container {
    padding-top: 54px;
    display: flex; 
    justify-content: center;  
    display: -webkit-flex; 
    -webkit-justify-content: center;
}

.rating-selected {
	color: rgb(255, 204, 102);
}

.rating-deselected {
    color: rgb(204, 204, 204);
}

/* bootstrap overrides */


body {
    height: 100%;
    font-family: "Droid Sans",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Arial,sans-serif
}
    
.navbar {
	height: 52px;
	background: #0c2931;
    border: 0;
    margin: 0;
    border-radius:0;
}

a {
	color: #0092cb;
	text-decoration: none !important;
	-webkit-transition: color .1s linear;
	transition: color .1s linear
}

a:active, a:focus, a:hover {
	color: #005b7f
}

a:active, a:focus {
	outline: 0
}

.footer2 {
    font-size: 16px;
	bottom: 0;
	left: 0;
	background: #c3d1d6;
    padding: 1.5em 0 1.5em 0;
	width: 100%;
	height: 86px;
	border-bottom: 20px solid #0c2931
}

.footer2 ul {
	line-height: 1.5em;
	margin: 0 0 1em;
	padding: 0
}

@media screen and (min-width:53.75em) {
    .footer2 ul {
        float: left;
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0
    }
}

.footer2 ul li {
	font-weight: 800;
	list-style: none;
	// padding-right: 1em
}

@media screen and (min-width:53.75em) {
    .footer2 ul li {
        display: inline;
        text-align: left
    }
}

.footer2 ul li a {
	color: hsla(0,0%,100%,.4);
	text-decoration: none
}

.footer2 ul li a:focus, .footer2 ul li a:hover {
	color: #fff
} 

.inner-footer {
    float: left;
    margin-bottom: 0
}

.terms-privacy {
    float: right
}

.terms-privacy li {
	font-size: .8em;
	font-weight: 400
}

.inner-footer img {
	height: 5em
}

.inner-footer {
	margin-left: 1.5em;
}

.footer2 ul {
	line-height: 1.5em;
	margin: 0 0 1em;
	padding: 0
}

.footer2 ul {
    float: left;
    line-height: 1.8em;
    margin-left: 1em;
    margin-bottom: 0
}

.footer2 ul li {
	font-weight: 800;
	list-style: none;
	padding-right: 1em
}

@media screen and (min-width:$screen-sm-min) {
    .footer2 ul li {
        display: inline;
        text-align: left
    }
}

.footer2 ul li a {
	color: hsla(0,0%,100%,.4);
	text-decoration: none
}

.footer2 ul li a:focus, .footer2 ul li a:hover {
	color: #fff
}

main, app-store {
    width: 100%;
    margin-bottom:40px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}
    
.flex-fill {
    flex: 1 1 auto;
}

.submenu{
  li, a {cursor: pointer;}
}