@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.app-widget {
    padding:0;
}

@media screen and (max-width:$screen-md-max) {
    .app-widget {
        width: 300px;
    }
}

.app-widget-container {
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0,0,0,.24);	
    -webkit-transition: all .45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	transition: all .45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    width: 254px;
}

.app-widget-images {
    width:100%; 
    height:150px; 
    background-repeat:no-repeat; 
    background-size:cover; 
    background-position:center;
} 

.app-widget-small-image-container {
    position: relative;
    top: 25px;
	width: 75pt;
	margin: 25px auto;
}

.widget-image-inner {
	border: 2px solid #fff;
	background: #eee;
	border-radius: 3px;
	overflow: hidden;
    
    img {
    	display: block;
        border-radius: 3px;
        -webkit-transition: all .2s ease-in-out;
	   transition: all .2s ease-in-out;
       
       &:hover {
           opacity: .7;
       }
    }
}

.details-text {
    color: #0c2931;
	font-size: .9em;
	line-height: 1.5em;
	padding: .5em .75em;
}

.title-text  {
    color: #0c2931;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	border-radius: 3px 3px 0 0;
	font-weight: 700;
	line-height: 1.5em;
	padding: .5em .75em;
}

.rating {
    padding: 0 0 .5em .5em;
}