$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

#wrapper {
	min-height: 100%;
	position: relative;
}

#content {
    padding-bottom: 185px;
}

footer {
	width: 100%;
	height: 150px;;
	position: absolute;
	bottom: 0;
	left: 0;
    background: #c3d1d6;
    height: 150px;
    border-bottom: 20px solid #0c2931; 
    font-size: 16px;   
	padding: 1.5em;

    ul {
        line-height: 1.5em;
        margin: 0 0 1em;
        padding: 0;

        li {
            font-weight: 800;
            list-style: none;
            padding-right: 1em;
            
            a {
                color: hsla(0,0%,100%,.4);
                text-decoration: none;

                &:focus, &:hover {
	               color: #fff
                }
            }
        }
    }
}

a {
	background-color: transparent;
	color: #0092cb;
	-webkit-transition: color .1s linear;
	transition: color .1s linear;
    
    &:active, &:focus, &:hover {
        color: #005b7f;
        outline: 0;
        text-decoration: none;
    }
}

.nav-image {
	width: 94px;
	margin: 0 auto;
	display: block;
	text-align: center;
    
    a {
        position: relative;
        float: left;
        background: #fff
    }
    
    a:hover img {
	   opacity: .9
    }
    
    img {
        display: block;
        height: 52px
    }
}

.no-text-decoration a:hover {
    text-decoration: none;
}

.landing-page-jumbotron {
    text-align: center;
    background-image: url("../images/polygon-bg.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0;
	padding-bottom: 0;
    margin-bottom: 0;
	height: 308px;
    line-height: 24px;

    h1 {
        font-size: 35.2px;
        font-weight: 400;
        padding-top: 42px;
        margin-top: 0px;
    }   
    
    input {
        border: none;
        border-bottom: 1px solid rgba(12,41,49,.12);
        display: block;
        font-size: 1pc;
        margin: 0;
        padding: 4px 0;
        background: 1pc;
        color: inherit;
        line-height: inherit;
        border-radius: 0;
        width: 300px;
    }
}

.input-container {
    padding-top: 54px;
    display: flex; 
    justify-content: center;  
    display: -webkit-flex; 
    -webkit-justify-content: center;
}

.test2 {
	font-size: .9em;
	line-height: 1.5em;
	padding: .5em .75em
}

.test1   {
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	border-radius: 3px 3px 0 0;
	font-weight: 700;
	line-height: 1.5em;
	padding: .5em .75em;
}

// used
.vmZgQoCWJG8MqU8oNM5Cg {
	font-family: Material Icons;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga';
	font-feature-settings: liga
}

.landing-page-jumbotron > .input-container input::-webkit-input-placeholder {
    color: rgba(12, 41, 49, 0.258824);
}
.landing-page-jumbotron > .input-container input:-moz-placeholder {
    color: rgba(12, 41, 49, 0.258824);
    opacity:  1;
}
.landing-page-jumbotron > .input-container input::-moz-placeholder {
    color: rgba(12, 41, 49, 0.258824);
    opacity:  1;
}
.landing-page-jumbotron > .input-container input:-ms-input-placeholder {
    color: rgba(12, 41, 49, 0.258824);
}
.landing-page-jumbotron > .input-container input:placeholder-shown {
    color: rgba(12, 41, 49, 0.258824);
}

/* bootstrap overrides */

*, :after, :before {
	box-sizing: inherit
} /*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
 	font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	box-sizing: border-box;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern", "liga", "pnum";
	-moz-font-feature-settings: "kern", "liga", "pnum";
	-ms-font-feature-settings: "kern", "liga", "pnum";
	font-feature-settings: kern, liga, pnum;
	-webkit-font-smoothing: antialiased;
	color: #0c2931;
	line-height: 1.5;
    font-size: 16px;   
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	margin: 0;
    padding: 0;
}

.navbar {
	height: 52px;
	background: #0c2931;
    border: 0;
    margin: 0;
}

a {
	color: #0092cb;
	text-decoration: none;
	-webkit-transition: color .1s linear;
	transition: color .1s linear
}

a:active, a:focus, a:hover {
	color: #005b7f
}

a:active, a:focus {
	outline: 0
}

@media screen and (min-width:53.75em) {
    footer ul {
        float: left;
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0
    }
}

@media screen and (min-width:53.75em) {
    footer ul li {
        display: inline;
        text-align: left
    }
}

@media screen and (min-width:53.75em) {
    .footer-img {
        float: left;
        margin-bottom: 0
    }
}

.footer-img img {
	height: 5em
}

.footer-img {
	margin-right: 1em;
	margin-bottom: 1em
}

@media screen and (min-width:53.75em) {
    footer ul {
        float: left;
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0
    }
}

@media screen and (min-width:53.75em) {
    footer ul li {
        display: inline;
        text-align: left
    }
}

@media screen and (min-width:53.75em) {
    footer ul {
        float: left;
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0
    }
}

@media screen and (min-width:53.75em) {
    footer ul li {
        display: inline;
        text-align: left
    }
}

h2 {
    font-size: 25.6px 1.6em;
    font-weight: 400;
}

.btn {
    text-transform: uppercase;
}