.test {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100vw;
}

.landing-page-jumbotron {
    text-align: center;
    background-image: url("../images/polygon-bg.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0;
	padding-bottom: 0;
    margin-bottom: 0;
	height: 308px;
    line-height: 24px;
    width: 100vw;

    h1 {
        font-size: 35.2px;
        font-weight: 400;
        padding-top: 42px;
        margin-top: 0px;
    }   
    
    input {
        border: none;
        border-bottom: 1px solid rgba(12,41,49,.12);
        display: block;
        font-size: 1pc;
        margin: 0;
        padding: 4px 0;
        background: 1pc;
        color: inherit;
        line-height: inherit;
        border-radius: 0;
        width: 300px;
    }
}

.landing-page-jumbotron > .input-container input::-webkit-input-placeholder {
    color: rgba(12, 41, 49, 0.258824);
}
.landing-page-jumbotron > .input-container input:-moz-placeholder {
    color: rgba(12, 41, 49, 0.258824);
    opacity:  1;
}
.landing-page-jumbotron > .input-container input::-moz-placeholder {
    color: rgba(12, 41, 49, 0.258824);
    opacity:  1;
}
.landing-page-jumbotron > .input-container input:-ms-input-placeholder {
    color: rgba(12, 41, 49, 0.258824);
}
.landing-page-jumbotron > .input-container input:placeholder-shown {
    color: rgba(12, 41, 49, 0.258824);
}
