.rating-outer {
	padding: 0;

    .rating-inner {
        direction: rtl;
        unicode-bidi: bidi-override;
        text-align: left;
        display: inline-block;
        line-height: normal;
        font-size: 1.3em
    }
}

.rating-selected {
	color: rgb(255, 204, 102);
}

.rating-deselected {
    color: rgb(204, 204, 204);
}

.rating-text {
    font-weight: 200;
    font-size: 3em; 
}