@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";


.authenty {
	[data-animation] {
		opacity: 0;
	}
	ul {
		list-style-type: none;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
	}
	h1 {
		font-weight: 700;
		letter-spacing: -1px;
	}
	a:hover {
		text-decoration: none;
	}
	.btn:not(.btn--3d) {
		border-radius: 0;
		&:active {
			box-shadow: none;
			border-radius: 0px!important;
		}
		&:focus {
			outline: thin dotted #fff;
			outline-offset: 0;
		}
		&:hover, &:focus {
			color: #000;
		}
	}
	
	.wrap {
		width: 100%;
	}
	
    a {
        line-height: 2.5;
        color: #000000;
        -webkit-transition: color 300ms linear;
        -moz-transition: color 300ms linear;
        -o-transition: color 300ms linear;
        -ms-transition: color 300ms linear;
        transition: color 300ms linear;
        &:hover {
            color: #cccccc;
        }
    }
}

.register-window {

	.register-form{
		margin-bottom:10px;
	}
	
	.title, .prompt {
		text-align: left;
		color: #ccc;
	}
	.wrap {
		padding-top: 250px;
	}
	.form-wrap {
		
		padding: 50px 50px 100px 50px;
		position: relative;
		.fa-times-circle {
			position: absolute;
			top: 15px;
			right: 20px;
			font-size: 30px;
			color: #000;
		}
	}
	.form-control:focus {
		border: none;
		border-bottom: 1px solid #505050;
		box-shadow: 0 0 5px #ccc;
	}
	input[type="text"], 
	input[type="password"], 
	input[type="email"] {
		width:100%;
	}
	.checkbox label {
		color: #505050;
		font-size: 10pt;
	}
	.sns-signin {
		margin-top: 100px;
		a {
			display: block;
			text-align: left;
			border-radius: 50px;
			-webkit-transition: background-color 300ms linear;
			-moz-transition: background-color 300ms linear;
			-o-transition: background-color 300ms linear;
			-ms-transition: background-color 300ms linear;
			transition: background-color 300ms linear;
			.fa-facebook {
				color: #fff;
				padding: 7px 15px 7px 10px;
				font-size: 16px;
				margin-right: 20px;
				margin-left: 10px;
				border-right: 1px solid #fff;
			}
		}
	}
	.horizontal-divider {
		margin: 0 auto;
		position: relative;
		width: 1px;
		height: 250px;
		background-color: #505050;
	}
	.normal-register {
		.register {
			padding: 8px 15px;
			
			color: #fff;
			-webkit-transition: background-color 300ms linear;
			-moz-transition: background-color 300ms linear;
			-o-transition: background-color 300ms linear;
			-ms-transition: background-color 300ms linear;
			transition: background-color 300ms linear;
			&:hover {
				background-color: #5B910C;
			}
		}
	}
}

@media screen and (min-width: $screen-xs-max) {
    .col-xs-12.col-sm-5.col-md-4.prompt {
        padding-left: 0px;
    } 
}

@media screen and (max-width: $screen-xs-max) {
	.register-window {
		.title {
			margin-left: 15px;
		}
		.form-wrap {
			padding: 30px 20px 60px 20px;
		}
		.sns-signin {
			margin-top: 40px;
			a {
				font-size: 13px;
				.fa-facebook {
					padding: 7px 10px 7px 10px;
					margin-right: 10px;
					margin-left: 5px;
				}
			}
		}
		.horizontal-divider {
            display: none;
		}
	}
    .normal-register {
        margin-top: 24px;
    }
}

@keyframes shake {
	8%, 41% {
		transform: translateX(-10px);
	}
	25%, 58% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-5px);
	}
	92% {
		transform: translateX(5px);
	}
	0%, 100% {
		transform: translateX(0);
	}

}
@-webkit-keyframes shake {
	8%, 41% {
		-webkit-transform: translateX(-10px);
	}
	25%, 58% {
		-webkit-transform: translateX(10px);
	}
	75% {
		-webkit-transform: translateX(-5px);
	}
	92% {
		-webkit-transform: translateX(5px);
	}
	0%, 100% {
		-webkit-transform: translateX(0);
	}

}
@-moz-keyframes shake {
	8%, 41% {
		-moz-transform: translateX(-10px);
	}
	25%, 58% {
		-moz-transform: translateX(10px);
	}
	75% {
		-moz-transform: translateX(-5px);
	}
	92% {
		-moz-transform: translateX(5px);
	}
	0%, 100% {
		-moz-transform: translateX(0);
	}

}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}
@-o-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
%fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@media screen and (min-height:775px) and (min-width: $screen-md-min)
{
    .register-height-adjust {
        height: calc(100vh - 206px);
    }
}

@media screen and (min-height:800px) and (max-width: $screen-md-max)
{
    .register-height-adjust {
        height: calc(100vh - 206px);
    }
}