.backgroundimage99 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/typeother.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage1 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type1.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage2 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type2.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage3 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type3.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage4 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type4.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage5 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type5.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage6 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type6.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage7 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type7.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage8 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type8.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage9 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type9.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage10 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type10.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage11 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type11.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage12 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type12.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage13 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-assets/type13.png");
        background-position: center top;
        background-repeat:no-repeat;
}

.backgroundimage-collection {
        background-image: url("../images/collection_icon.png");
        background-position: center top;
        background-repeat:no-repeat;
}
