.backgroundimage99 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/typeother.png");
}

.backgroundimage1 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/type1.png");
}

.backgroundimage2 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/type2.png");
}

.backgroundimage3 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/type3.png");
}

.backgroundimage4 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/type4.png");
}

.backgroundimage5 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/type5.png");
}

.backgroundimage6 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/type6.png");
}

.backgroundimage7 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/type7.png");
}

.backgroundimage8 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/type8.png");
}

.backgroundimage9 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/type9.png");
}


.nowidgetborder {
        border:0px !important;
        padding: 9px;
        height: 170px;
}