.backgroundimage99 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/exjorum.png");
}

.backgroundimage1 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/exjorum1.png");
}

.backgroundimage2 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/exjorum2.png");
}

.backgroundimage3 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/exjorum3.png");
}

.backgroundimage4 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/exjorum4.png");
}

.backgroundimage5 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/exjorum5.png");
}

.backgroundimage6 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/exjorum6.png");
}

.backgroundimage7 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/exjorum7.png");
}

.backgroundimage8 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/exjorum8.png");
}

.backgroundimage9 {
        background-image: url("https://s3-eu-west-1.amazonaws.com/jisc-store-content/exjorum9.png");
}


.nowidgetborder {
        border:0px !important;
        padding: 9px;
        height: 170px;
}