<div class="col span-4 register-window">
     <form [ngFormModel]="registerForm" (submit)="onSubmit(registerForm.value)" novalidate>
        <fieldset class="form__fieldset">
            <legend>
                <span class="legend-text"><h3>Create an account</h3></span>
            </legend>
            <div [class.shake]="shaking" [class.animated]="shaking" class="register-form">
                <div [class.has-error]="(!email.valid && email.touched) || emailInUse"> 
                    <label class="control-label" for="email" *ngIf="!email.valid && email.touched">Please enter a valid email address</label>
                    <label class="control-label" for="email" *ngIf="emailInUse">This email address is already in use</label>
                    <input [disabled]="busy" placeholder="Your email address" type="email" [ngFormControl]="email" id="email" required>
                </div>
                <div [class.has-error]="(!username.valid && username.touched) || usernameInUse"> 
                    <label class="control-label" for="username" *ngIf="!username.valid && username.touched">Please choose a username</label>
                    <label class="control-label" for="username" *ngIf="usernameInUse">This username is already in use</label>
                    <input [disabled]="busy" placeholder="Desired username" type="text" [ngFormControl]="username" id="username" required>
                </div>
                <div [class.has-error]="password.value!=repeatPassword.value && password.touched && repeatPassword.touched">
                    <label class="control-label" for="password" *ngIf="password.value!=repeatPassword.value && password.touched && repeatPassword.touched">Your passwords do not match, please re-enter</label>
                    <div><input [disabled]="busy" placeholder="Password" type="password" [ngFormControl]="password" required></div>
                    <div><input [disabled]="busy" placeholder="Repeat password" type="password" [ngFormControl]="repeatPassword" required></div>
                </div>
            </div>
            
            <div class="pull-right">
                <button [disabled]="busy || emailInUse || usernameInUse" class="btn--3d btn--primary btn--large" type="submit">Sign Up</button>
            </div>
            <div><a [routerLink]="['SignIn']"><i class="fa fa-caret-left"></i> Or go back and sign in</a></div>
        </fieldset>
    </form>
</div>
