<div class="rating-outer">
    <div class="rating-inner">
    	<div *ngIf="rating>0">
        <span title="5" (click)="ratingClicked(5)" [class.rating-editable]="editable" [ngClass]="{'rating-selected': rating>=5, 'rating-deselected': rating<5}"><i class="glyphicon glyphicon-star"></i></span>
        <span title="4" (click)="ratingClicked(4)" [class.rating-editable]="editable" [ngClass]="{'rating-selected': rating>=4, 'rating-deselected': rating<4}"><i class="glyphicon glyphicon-star"></i></span>
        <span title="3" (click)="ratingClicked(3)" [class.rating-editable]="editable" [ngClass]="{'rating-selected': rating>=3, 'rating-deselected': rating<3}"><i class="glyphicon glyphicon-star"></i></span>
        <span title="2" (click)="ratingClicked(2)" [class.rating-editable]="editable" [ngClass]="{'rating-selected': rating>=2, 'rating-deselected': rating<2}"><i class="glyphicon glyphicon-star"></i></span>
        <span title="1" (click)="ratingClicked(1)" [class.rating-editable]="editable" [ngClass]="{'rating-selected': rating>=1, 'rating-deselected': rating<1}"><i class="glyphicon glyphicon-star"></i></span>
        </div>
        <div class="no-ratings" *ngIf="rating<1">
        <span title="0">no ratings yet</span>
        </div>
    </div>
</div>
    