$grey-c: rgb(204, 204, 204);
$gold-c: rgb(255, 204, 102);
$stars: 5;

.rating-inner {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
  display: inline-block;
  line-height: normal;
  font-size: 1.3em;
}

.rating-inner--detail {
	margin-top: 10px;
	font-size: 32px;

	.rating-inner__star {
		float: right;
		animation: grow 1s cubic-bezier(0, 3, 0.3, 0);
		width: 36px;
		text-align: center;
	}

	@for $i from 0 to ($stars + 1) {
		.rating-inner__star:nth-child(#{$i}) {
			 animation-duration: 1.5s - ($i / 10);
		}
	}
}

.rating-selected {
	color: $gold-c;
}

.rating-deselected {
  color: $grey-c;
}

.rating-text {
  font-weight: 200;
  font-size: 3em;
  line-height:34px;
}

.rating-editable {
  cursor: pointer;
}

@-webkit-keyframes grow {
	0% { font-size: 0em }
  65% { font-size: 0.5em; }
  100% { font-size: 1em; }
}
