<div class="rating-outer">
    <div class="rating-inner" [ngClass]="modifierClass ? 'rating-inner--' + modifierClass : ''">
    	<div *ngIf="rating>0">
        <span title="5" class="rating-inner__star" (click)="ratingClicked(5)" [class.rating-editable]="editable" [ngClass]="{'rating-selected': rating>=5, 'rating-deselected': rating<5}"><i class="glyphicon glyphicon-star"></i></span>
        <span title="4" class="rating-inner__star" (click)="ratingClicked(4)" [class.rating-editable]="editable" [ngClass]="{'rating-selected': rating>=4, 'rating-deselected': rating<4}"><i class="glyphicon glyphicon-star"></i></span>
        <span title="3" class="rating-inner__star" (click)="ratingClicked(3)" [class.rating-editable]="editable" [ngClass]="{'rating-selected': rating>=3, 'rating-deselected': rating<3}"><i class="glyphicon glyphicon-star"></i></span>
        <span title="2" class="rating-inner__star" (click)="ratingClicked(2)" [class.rating-editable]="editable" [ngClass]="{'rating-selected': rating>=2, 'rating-deselected': rating<2}"><i class="glyphicon glyphicon-star"></i></span>
        <span title="1" class="rating-inner__star" (click)="ratingClicked(1)" [class.rating-editable]="editable" [ngClass]="{'rating-selected': rating>=1, 'rating-deselected': rating<1}"><i class="glyphicon glyphicon-star"></i></span>
        </div>
        <div class="no-ratings" *ngIf="rating<1">
          <h4 title="0">No ratings yet</h4>
        </div>
    </div>
</div>
