<div class="row submit-review-container">
    <form [ngFormModel]="reviewForm" (submit)="onSubmit(reviewForm.value)" novalidate>
        <p><label for="reviewTitle">Sum it up</label>
        <input [ngFormControl]="reviewTitle" id="reviewTitle" class="form-control"></p>
        
        <p><label>Tell us more</label>
        <textarea [ngFormControl]="reviewDescription" id="reviewText" class="form-control"></textarea></p>
        
        <div class="review-rating-stars">
            <p><label>Give it a rating</label>
            <rating (ratingChanged)="ratingChanged($event)" editable="true" rating="3"></rating></p>
        </div>

        <div class="submitbut">
            <button [disabled]="busy" class="btn submit-review-half" type="submit">SUBMIT YOUR REVIEW</button>
        </div>
        
    </form>
</div>