<div class="row submit-review-container">
    <fieldset class="form__fieldset">
        <h3>Reviews</h3>
        <div [hidden]="reviewing">
            <button [disabled]="busy" class="btn submit-review" (click)="submitReview()">Rate and review</button>
        </div>
   
        <form [ngFormModel]="usernameForm" (submit)="onSubmit(usernameForm.value)" novalidate>
            <div [hidden]="!reviewing" class="">
                <label for="reviewTitle">Title</label>
                <input [ngFormControl]="reviewTitle" id="reviewTitle" class="form-control" style="padding: 4px;">
                <label>Your review</label>
                <textarea [ngFormControl]="reviewDescription" id="reviewText" class="form-control" style="padding: 8px;"></textarea>
                <div class="review-rating-stars">
                    <label>Rate this resource</label><rating (ratingChanged)="ratingChanged($event)" editable="true" rating="1"></rating>
                </div>
                <div style="padding-top: 12px;">
                    <button [disabled]="busy" class="btn submit-review-half" type="submit">Rate and review</button>
                    <button [disabled]="busy" class="btn submit-review-half" (click)="cancelClicked()">Cancel</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>