<div class="submit-resource-container">
    <h2>Submit a new resource</h2>
    <form [class.shake]="shaking" [class.animated]="shaking" class="form-container" [ngFormModel]="submitResourceForm"
          (submit)="onSubmit(submitResourceForm.value)" novalidate>
        <div class="row">
            <div class="header-container span-6">
                <h3>Some basic details</h3>
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <input type="text" placeholder="title" [ngFormControl]="basicDetailsText" required="required"
                       [class.input-error]="submitted&&!basicDetailsText.valid">
            </div>
            <div class="annotation-container span-5 pull-left">
                the title or name of your resource
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <input type="text" placeholder="overview" [ngFormControl]="overviewText" required="true"
                       [class.input-error]="submitted&&!overviewText.valid">
            </div>
            <div class="annotation-container span-5 pull-left">
                a short overview of what your resource is
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <textarea rows="4" placeholder="description" [ngFormControl]="descriptionText" required="required"
                          [class.input-error]="submitted&&!descriptionText.valid"> </textarea>
            </div>
            <div class="annotation-container span-5 pull-left">
                a brief paragraph about your resource, what the features are and how it can be of benefit to others
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <div class="icon-drop-area" ng2-file-drop [uploader]="iconUploader">
                    <div *ngIf="iconUploader.queue.length===0" class="drop-area-empty">
                        <span>drag and drop an icon here or&nbsp;<a
                                (click)="uploadIconButtonClicked()">click to upload</a></span>
                        <input type="file" ng2-file-select [uploader]="iconUploader" class="file-upload-btn"
                               #iconUploadButton/>
                    </div>
                    <div *ngIf="iconUploader.queue.length!==0" class="drop-area-with-files">
                        <div *ngFor="let file of iconUploader.queue" (click)="file.remove()"><span
                                class="remove-btn glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{
                            file.file.name }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="annotation-container span-5 pull-left">
                an icon for your resource
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left drop-down-fix">
                <select required="true" [ngFormControl]="resourceType"
                            [class.input-error]="submitted&&!resourceType.valid">
                    <option value="-1">Please select a resource type</option>
                    <option *ngFor="let resourceType of resourceTypes; let i = index" value="{{i}}">{{resourceType}}</option>
                </select>
            </div>
            <div class="annotation-container span-5 pull-left">
                the media type of your resource
            </div>
        </div>
        <div class="row">
            <div class="header-container span-6">
                <h3>Preview</h3>
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <input type="text" placeholder="trial/demo URL" [ngFormControl]="trialUrl" required="true"
                       [class.input-error]="submitted&&!trialUrl.valid">
            </div>
            <div class="annotation-container span-5 pull-left">
                the URL of a trial/demo the user can visit to try your resource out
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <input type="text" placeholder="video URL" [ngFormControl]="videoUrl" required="true"
                       [class.input-error]="submitted&&!videoUrl.valid">
            </div>
            <div class="annotation-container span-5 pull-left">
                the URL of a youtube video about your resource
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <div class="media-drop-area" ng2-file-drop [uploader]="uploader">
                    <div *ngIf="uploader.queue.length===0" class="drop-area-empty">
                        <span>drag and drop up to 3 images here or&nbsp;<a (click)="uploadFileButtonClicked()">click to upload</a></span>
                        <input type="file" ng2-file-select [uploader]="uploader" multiple class="file-upload-btn"
                               #fileUploadButton/>
                    </div>
                    <div *ngIf="uploader.queue.length!==0" class="drop-area-with-files">
                        <div *ngFor="let file of uploader.queue" (click)="file.remove()"><span
                                class="remove-btn glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{
                            file.file.name }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="annotation-container span-5 pull-left">
                three images that preview the content in your resource<br/>
                <ul>
                    <li>640x480 jpeg</li>
                    <li>maximum size 300kb</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="header-container span-6">
                <h3>Tags</h3>
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <div class="tag-area">
                    <button class="btn" *ngFor="let tag of resourceTags | async" (click)="removeTagFromResource(tag)"
                            type="button">{{ tag.name }}
                    </button>
                </div>
            </div>
            <div class="annotation-container span-5 pull-left">
                tags you want to associate your resource to selected from the TagCloud
            </div>
        </div>
        <div class="row">
            <div class="header-container span-6">
                <p>or choose from the TagCloud</p>
            </div>
        </div>
        <div class="row">
            <div class="tagcloud span-6">
                <tag-cloud (tagClicked)="addTagToResource($event)"></tag-cloud>
            </div>
        </div>
        <div class="row">
            <div class="formfield-container span-6 pull-left">
                <div class="horizontal-center">
                    <button class="btn btn--3d btn--primary" type="submit">continue</button>
                </div>
            </div>
        </div>
    </form>
</div>