<div class="rating-outer">
    <div class="rating-inner">
        <span title="5" class="rating-deselected"><i class="glyphicon glyphicon-star"></i></span>
        <span title="4" class="rating-selected"><i class="glyphicon glyphicon-star"></i></span>
        <span title="3" class="rating-selected"><i class="glyphicon glyphicon-star"></i></span>
        <span title="2" class="rating-selected"><i class="glyphicon glyphicon-star"></i></span>
        <span title="1" class="rating-selected"><i class="glyphicon glyphicon-star"></i></span>
    </div>
</div>
